
<script type="text/javascript" src="js/ad/dmEntryInfo.js"></script>

<div class="col-lg-12 green">
	<div class="main-card mb-3 card">
		<div class="card-body">
			<div class="row">
				<div class="col-lg-12">
					<p> <strong> Dizin yapısında bulunan KULLANICILARI, KULLANICI GRUPLARINI ve ORAGİZASYON BİRİMLERİNİ ekleyebilir güncelleyebilir ve silebilirsiniz.</strong></p>
					<p> <strong> Dizin yapısında bulunan  KULLANICI GRUPLARINA politika gönderebilirsiniz.</strong></p>
					<hr>
					<div id="adEntryInfoDiv"></div>
				</div>
			</div>
		</div>
	</div>

</div>