<div class="row">
	<div class="col-lg-12">
		<div class="main-card mb-3 card">
			<div class="card-header">
				<i class="header-icon lnr-license icon-gradient bg-plum-plate"></i>
				<div class="col-lg-6">
					<input class="form-control" type="text" id="ouName" name="ouName"
						placeholder="Klasör Adı " />
				</div>
				<div class="col-lg-6 pull-left">
					<button id="addOu" type="button" class="btn-shadow btn btn-info "
						title="Klasor Ekle">
						<i class="fa fa-folder-open"></i>
					</button>
				</div>
			</div>
			<div class="card-body">
				<div id="treeGridOuManagerHolderDiv">
					<div id="treeGridOuManager"></div>
				</div>

			</div>
		</div>
	</div>
</div>
