	<div class="row">
							<div class="col-lg-6">
								<div class="main-card mb-3 card">
									<div class="card-header">
										<i class="header-icon lnr-license icon-gradient bg-plum-plate"></i>
									</div>
									<div class="card-body">
										<div id="treeGridAddUserHolderDiv">
											<div id="treeGridAddUserModal"></div>
										</div>
										
									</div>
								</div>
							</div>
							<div class="col-lg-6">
							    <div class="main-card mb-3 card">
									<div class="card-header">
											<h6>Kullanıcı Bilgileri</h6>
									</div>
									<div class="card-body">
										<div class="form-group">
											<label>Kullanıcı Adı</label>
											<input class="form-control" type="text" id="uid" name="uid" placeholder="ID Giriniz..(uid) " />
										</div>
										<div class="form-group">
											<label>Kullanıcı Adı</label>
											<input class="form-control" type="text" id="cn" name="cn" placeholder="Ad Giriniz.." />
										</div>
										<div class="form-group">
											<label>Kullanıcı Soyadı</label>
											<input class="form-control" type="text" id="sn" name="sn" placeholder="Soyad Giriniz.." />
										</div>
										<div class="form-group">
											<label>Parola</label>
											<input class="form-control" type="password" id="userPassword" name="userPassword" placeholder="Parola" />
										</div>
										<div class="form-group">
											<label>Parola</label>
											<input class="form-control" type="password" id="confirm_password" name="confirm_password" placeholder="Parola Onayla" />
										</div>
										<div class="form-group">
											<a href="#" class="btn btn-primary submit-button" id="addUserBtn" onclick="addUser()">
												<span>Kaydet</span>
											</a>
										</div>
									</div>
								</div>
						</div>
					</div>
