
<div class="main-card mb-3 card">
	<div class="card-body">
		<div class="form-group">
			<label>Kullanıcı ID</label> <input class="form-control" type="text"
				id="uidEdit" name="uid" placeholder="ID Giriniz..(uid) " />
		</div>
		<div class="form-group">
			<label>Kullanıcı Adı</label> <input class="form-control" type="text"
				id="cnEdit" name="cn" placeholder="Ad Giriniz.." />
		</div>
		<div class="form-group">
			<label>Kullanıcı Soyadı</label> <input class="form-control"
				type="text" id="snEdit" name="sn" placeholder="Soyad Giriniz.." />
		</div>
		<div class="form-group">
			<label>Telefon</label> <input class="form-control"
				type="text" id="telephoneNumberEdit" name="telephoneNumber" placeholder="Telefon Giriniz.." />
		</div>
		<div class="form-group">
			<label>Adres</label> 
			<textarea cols="4" rows="4" class="form-control" id="homePostalAddressEdit" name="homePostalAddressEdit" placeholder="Adres Giriniz.."  > </textarea> 
		</div>
		
		<div class="form-group">
			<a href="#" class="btn btn-primary submit-button" id="editUserBtn"> <span>Güncelle</span>
			</a>
		</div>
	</div>
</div>
