/* policy table and profile table scroll and table row height */

.table tbody tr.policysettings td {
	background-color: #70C1F9;
}

.policy-scroll {
	height: 250px;
	overflow-y: auto;
	overflow-x: auto;
}

.policy-profile-table tr {
	line-height: 10px;
}

.profile-scroll {
	height: 180px;
	overflow-y: auto;
	overflow-x: auto;
}

.plugin-profile-scroll {
	height: 180px;
	overflow-y: auto;
	overflow-x: auto;
}

.script-scroll {
	height: 285px;
	overflow-y: auto;
	overflow-x: auto;
}
