<script type="text/javascript" src="js/ad/dmSearchGroup.js"></script>

<div class="col-lg-12">
	<div class="main-card mb-3 card">
		<div class="card-header">
		<div class="clearfix"></div>
			<div class="col-lg-2 pull-right">
				<!-- 					<span id="groupInfoMember" class="pull-right"> </span>  -->
				<select class="form-control" id="searchKey">
					<option value="CN">CN</option>
					<option value="UID">UID</option>
				</select>
			</div>
			<div class="col-lg-8 pull-left">
				<input class="form-control pull-left" type="text" id="value"
					placeholder="Grup Ara" />
			</div>
			<div class="col-lg-2 pull-left">
				<button id="searchGroupDM" type="button"
					class="btn-shadow btn btn-info " title="Grup Ara">
					<i class="fa fa-search"></i> Grup Ara
				</button>
			</div>
			</div>
			<div class="card-body"> 
				
			<div class="col-lg-12">
				<div>
				<strong id="groupName"></strong>
					<table class="mb-0 table table-bordered">
						<thead>
							<tr>
								<th style="width: 20%"></th>
								<th style="width: 15%"></th>
								<th style="width: 50%"></th>
								<th style="width: 15%"></th>
							</tr>
						</thead>
						<tbody id="bodyMembersAdSearch">
							<tr>
								<td colspan="3" class="text-center">Grup bulunamadı</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			
			</div>
		
		
	</div>
</div>
