<script type="text/javascript" src="js/agents_groups.js"></script>

<div class="app-page-title">
	<div class="page-title-wrapper">
		<div class="page-title-heading">
			<div class="page-title-icon">
				<i class="pe-7s-drawer icon-gradient bg-happy-itmeo"> </i>
			</div>
			<div>
				İstemci Grupları
				<div class="page-title-subheading">Sistemde bulunan
					İstemci gruplarını listeleyebilir, grupları yönetebilir, gruplara görev gönderebilirsiniz.</div>
			</div>
		</div>
		<div class="page-title-actions">

			<div class="d-inline-block dropdown">
				<button type="button" data-toggle="dropdown" aria-haspopup="true"
					aria-expanded="false"
					class="btn-shadow dropdown-toggle btn btn-info">
					<span class="btn-icon-wrapper pr-2 opacity-7"> <i
						class="fa fa-business-time fa-w-20"> </i>
					</span> <span class="btn-icon-wrapper pr-2 "> </span> İstemci Grupları
				</button>

			</div>

			<button type="button" id="selectedEntrySize"
				data-target="#selectedEntryListModal" data-toggle="modal"
				data-placement="bottom" class="btn-shadow mr-3 btn btn-dark">
				<i class="fa fa-star"></i>
			</button>
		</div>
	</div>
</div>

<div class="row">

	<div class="col-lg-4">
		<div class="main-card mb-3 card">
			<div class="card-body">
				<div class="d-block dropdown">
                    <button type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="btn-shadow dropdown-toggle btn btn-info">
                        <span class="btn-icon-wrapper pr-2">
                            <i class="fa fa-bars fa-w-20"></i>
                        </span>
                        İşlem Seç
                    </button>
                    <div tabindex="-1" id="operationDropDown" role="menu" aria-hidden="true" class="dropdown-menu dropdown-menu-left">
					    <a class="dropdown-item" href="#addNewAgentGroupModal"  
					    	onclick="dropdownButtonClicked('addNewAgentGroup')">Yeni İstemci Grubu Oluştur</a>
					    <a class="dropdown-item" href="#editSelectedAgentGroupModal"  
					    	onclick="dropdownButtonClicked('editSelectedAgentGroup')">Seçili İstemci Grubunu Düzenle</a>
					    <a class="dropdown-item" href="#addAgentsToAgentGroupModal"  
					    	onclick="dropdownButtonClicked('addAgentsToAgentGroup')">Seçili İstemci Grubuna İstemci Ekle</a>
					    <div class="dropdown-divider"></div>
					    <a class="dropdown-item" href="#deleteAgentGroupAndMembersModal"  
					    	onclick="dropdownButtonClicked('deleteAgentGroupAndMembers')">Seçili İstemci Grubunu ve Üyelerini Sil</a>
                    </div>
                </div>
                <hr>
			    <div id="treeGridAgentGroupsDiv">
				    <div id="treeGridAgentGroups"></div>
			    </div>
			</div>

		</div>
	</div>

	<div class="col-lg-8">
		<div class="main-card mb-3 card">
			<div class="card-header card-header-tab-animation">
				<ul class="nav nav-justified" id="tab-items">
					<li class="nav-item">
						<a role="tab" class="nav-link active"
							id="entry-info" data-toggle="tab" href="#tab-entry-info"> 
							<span>Kayıt Bilgisi</span>
						</a>
					</li>
					<li class="nav-item">
						<a role="tab" class="nav-link"
							id="member-info" data-toggle="tab" href="#tab-member-info"> 
							<span>Grup Üyeleri</span>
						</a>
					</li>
				</ul>

			</div>
			<div class="card-body">
				<div class="tab-content">
					<div class="tab-pane active" id="tab-entry-info" role="tabpanel">
						<p id="entrInfoTabSelectedDnInfo"class="mb-0"></p>
						<div id="ldapAttrInfoHolder"></div>
					</div>
					<div class="tab-pane" id="tab-member-info" role="tabpanel">
						<p id="memberTabSelectedDNInfo"class="mb-0"></p>
						<div>
							<table class="mb-0 table table-bordered">
								<thead>
									<tr>
										<th style="width: 10%" class="text-center">#</th>
										<th style="width: 80%">Üye DN</th>
										<th style="width: 10%"></th>
									</tr>
								</thead>
								<tbody id="bodyMembers">
									<tr><td colspan="100%" class="text-center">Üye bulunamadı</td></tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>
</div>