<script type="text/javascript" src="js/computers/computerTreeManager.js"></script>
<script type="text/javascript" src="js/computers/computers.js"></script>

<style>
	.green {
		color: black;
		background-color: #A2D9CE;
	}
	
	.white {
		color: black;
		background-color: white;
	}
	
	.btn-group {
	    margin-bottom: 10px;
	    font-size: 13px;
		border: none;
	}
	
	.btn span {
		float: left;
		margin-top: 3px;
	}
</style>

<div class="app-page-title">
	<div class="page-title-wrapper">
		<div class="page-title-heading">
			<div class="page-title-icon">
				<i class="pe-7s-drawer icon-gradient bg-happy-itmeo"> </i>
			</div>
			<div>
				İstemci Yönetimi
				<div class="page-title-subheading">Sistemde bulunan
					istemcileri listeleyebilir, istemcilere görev gönderebilirsiniz.</div>
			</div>
		</div>
	</div>
</div>

<div class="row">

	<div class="col-lg-4 col-md-6 col-sm-6">
		<div class="main-card mb-3 card">
			<div class="card-header">
				<div>
					<button id="btnAddAgents" type="button"
						class="btn-shadow btn btn-info" title="İstemcileri Ekle" > <i class="fa fa-plus"></i>  </button>
					
					<button id="addOnlyOnlineAgents" type="button"
						class="btn-shadow btn btn-success"   title="Online İstemcileri Ekle"> <i class="fa fa-plus-circle"></i> </button>
				</div>
				
			</div>
			<div class="card-body">
<!-- 				<div> -->
<!-- 					<div class="d-inline-block dropdown"> -->
<!-- 							<div class="row"> -->
<!-- 								<div class="col-lg-10">  -->
<!-- 									<button type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="btn-shadow dropdown-toggle btn btn-info"> -->
<!-- 	                                            <span class="btn-icon-wrapper pr-2 opacity-7"> -->
<!-- 	                                                <i class="fa fa-server"></i> -->
<!-- 	                                            </span> -->
<!-- 	                                            İstemci İşlemleri -->
<!-- 		                        	</button> -->
<!-- 	                        		<div tabindex="-1" role="menu" aria-hidden="true" class="dropdown-menu dropdown-menu-left"> -->
<!-- 	                                            <ul class="nav flex-column"> -->
	                                                
<!-- 	                                                <li class="nav-item"> -->
<!-- 	                                                    <a href="#" class="nav-link" id="btnAddOnlineAgents"> -->
<!-- 	                                                        <i class="fa fa-folder-open"> &nbsp;</i> -->
<!-- 	                                                        <span> -->
<!-- 	                                                             Online İstemcileri Ekle -->
<!-- 	                                                        </span> -->
<!-- 	                                                    </a> -->
<!-- 	                                                </li> -->
<!-- 	                                                <li class="nav-item"> -->
<!-- 	                                                    <a href="#" class="nav-link" id="btnMoveAgentModal" title="İstemci Taşı" data-target="#genericModal" data-toggle="modal"> -->
<!-- 	                                                        <i class="fa fa-random"> &nbsp;</i> -->
<!-- 	                                                        <span> İstemci Taşı </span> -->
<!-- 	                                                    </a> -->
<!-- 	                                                </li> -->
<!-- 	                                            </ul> -->
<!-- 	                              </div> -->
									
<!-- 								</div> -->
<!-- 								<div class="col-lg-2">  -->
<!-- 									 <a href="#" class="btn btn-info pull-right" id="btnAddAgents"> -->
<!--                                                         <i class="fa fa-plus"> </i> -->
                                                        
<!--                                      </a> -->
<!--                                      <a href="#" class="nav-link" id="btnAddOnlineAgents"> -->
<!-- 	                                                        <i class="fa fa-folder-open"> &nbsp;</i> -->
<!-- 	                                                        <span> -->
<!-- 	                                                             Online İstemcileri Ekle -->
<!-- 	                                                        </span> -->
<!-- 	                                                    </a> -->
<!-- 								</div> -->
							
<!-- 							</div> -->
							
<!--                     </div> -->
<!-- 				</div> -->
<!-- 				<hr> -->
				<div id="computerTreeDiv"></div>
			</div>

		</div>
	</div>
	<div class="col-lg-8 col-md-6 col-sm-6">
		<div class="main-card mb-3 card">
			<div class="card-header card-header-tab-animation">
				<ul class="nav nav-justified">
					<li class="nav-item">
						<a role="tab" class="nav-link active"
							id="tab-send-task" data-toggle="tab" href="#tab-new-task"> <span>Görev
									Gönder</span>
						</a>
					</li>
					<li class="nav-item">
						<a role="tab" class="nav-link"
							id="tab-task-history" data-toggle="tab" href="#tab-task-history-tab"> <span>Görev
									Geçmişi</span>
						</a>
					</li>
					<li class="nav-item">
						<a role="tab" class="nav-link"
							id="tab-onlineAgents" data-toggle="tab" href="#tab-online-clients"> <span>Açık
									İstemciler</span>
						</a>
					</li>
					<li class="nav-item">
						<a role="tab" class="nav-link" data-toggle="tab" id="tab-entry-info"
											 href="#tab-entryinfo"> <span>Kayıt Bilgisi</span>
						</a>
					</li>
				</ul>
			</div>
			<div class="card-body">
				<div class="tab-content">
					<div class="tab-pane active" id="tab-new-task" role="tabpanel">
					
					<div class="row"> 
						<div class="col-lg-6">
							<div class="pull-right" > 
								
								<div class="d-block dropdown pull-right mb-1">
				                    <button type="button" id="dropdownButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="btn-shadow dropdown-toggle btn btn-info">
				                        <span class="btn-icon-wrapper pr-1">
				                            İstemci Grubu Oluştur
				                        </span>
				                    </button>
				                    <div tabindex="-1" id="operationDropDown" role="menu" aria-hidden="true" class="dropdown-menu dropdown-menu-left">
									    <a class="dropdown-item" href="#"  data-toggle="modal" data-target="#genericModal" id="btnAddToExistingGroup"
									    	onclick="dropdownButtonClicked('addToExistingGroup')">Mevcut Gruba Ekle</a>
									    <a class="dropdown-item" href="#"  data-toggle="modal" data-target="#genericModal" id="btnAddToNewGroup"
									    	onclick="dropdownButtonClicked('addToNewGroup')">Yeni İstemci Grubu Oluştur</a>
				                    </div>
				                </div>
							
							</div>
							<div id="selectedAgentDiv">
								<table id="selectedAgentTable" class="table table-striped table-bordered">
									<thead>
										<tr>
											<th style="width: 5%"></th>
											<th style="width: 30%">Bilgisayar Adı</th>
											<th style="width: 15%"></th>
										</tr>
									</thead>
									<tbody>
									
									<tr><td colspan="3" class="text-center" style=" ">Lütfen istemci seçiniz.</td></tr>
									
									</tbody>
									
								</table>
							</div>
						</div>
						<div class="col-lg-6">
							<p class="mb-0"></p>
							<input type="text" class="form-control" id="textTaskSearch">
							<div id="pluginListTableDiv"></div>
						</div>
					</div>
						
					</div>
					<div class="tab-pane" id="tab-task-history-tab" role="tabpanel">
						<div id="selectedAgentInfoSection">Seçilen Ahenk: <b id="selectedAgentDN"></b></div><br>
						<table class="table table-striped table-hover table-bordered">
							<thead>
								<tr>
									<th style="width: 20%">Görev Adı</th>
									<th style="width: 18%">Sonuç</th>
									<th style="width: 20%">Gönderen</th>
									<th style="width: 18%">Oluşturulma Tarihi</th>
									<th style="width: 18%">Çalıştırılma Tarihi</th>
									<th class="text-center" style="width: 6%"></th>
								</tr>
							</thead>
							<tbody id="taskHistoryTable">
								<tr>
									<td colspan="100%" class="text-center">Görev tarihçesini görüntelemek için sadece bir adet istemci seçiniz.</td>
								</tr>
							</tbody>
						</table>
					</div>
					<div class="tab-pane" id="tab-online-clients" role="tabpanel">
							<div id="onlineEntryListHolder"></div>
					</div>
					<div class="tab-pane" id="tab-roster" role="tabpanel">
							<div id="rosterListHolder">
								<button id="addSelectedEntry2Box" type="button" 
									class="btn-shadow btn btn-info" title="İstemcileri Ekle" ><i class="fa fa-plus"></i></button>
							</div>
					</div>
					<div class="tab-pane" id="tab-entryinfo" role="tabpanel">
							<div >Seçilen Ahenk: <b id="selectedDnInfo"></b></div><br>
							<div id="ldapAttrInfoHolder"></div>
					</div>
				</div>
			</div>
		</div>

	</div>
</div>

