<!DOCTYPE HTML>

<html lang="en" class="app-ui" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css" />
<link href='http://fonts.googleapis.com/css?family=Varela+Round'
	rel='stylesheet' type='text/css'>

<link rel="stylesheet" type="text/css" />

<style type="text/css">
body {
	margin-top: 40px;
}

.stepwizard-step p {
	margin-top: 10px;
}

.stepwizard-row {
	display: table-row;
}

.stepwizard {
	display: table;
	width: 100%;
	position: relative;
}



.stepwizard-row:before {
	top: 14px;
	bottom: 0;
	position: absolute;
	content: " ";
	width: 100%;
	height: 1px;
	background-color: #ccc;
	z-order: 0;
}

.stepwizard-step {
	display: table-cell;
	text-align: center;
	position: relative;
}

.btn-circle {
	width: 30px;
	height: 30px;
	text-align: center;
	padding: 6px 0;
	font-size: 12px;
	line-height: 1.428571429;
	border-radius: 15px;
}
</style>

<!-- AppUI CSS stylesheets -->
<link rel="stylesheet" type="text/css" href="css/main_b.css" />
<script type="text/javascript" src="/js/jquery-3.1.1.min.js"></script>
<script type="text/javascript" src="/js/bootstrap.min.js"></script>

<script type="text/javascript" src="assets/scripts/main.js"></script>
<script src='js/jquery-ui.min.js'></script>
<script type="text/javascript" src="js/notify.min.js"></script>
<script type="text/javascript">
	$(document).ready(function () {
		var navListItems = $('div.setup-panel div a'),
			allWells = $('.setup-content'),
			allNextBtn = $('.nextBtn'),
			allPrevBtn = $('.prevBtn');
	
		allWells.hide();
	
		navListItems.click(function (e) {
			e.preventDefault();
			var $target = $($(this).attr('href')),
			$item = $(this);
			
			if (!$item.hasClass('disabled')) {
				navListItems.removeClass('btn-primary').addClass('btn-default');
				$item.addClass('btn-primary');
				allWells.hide();
				$target.show();
				$target.find('input:eq(0)').focus();
			}
		});
		  
		allPrevBtn.click(function(){
			var curStep = $(this).closest(".setup-content"),
			    curStepBtn = curStep.attr("id"),
			    prevStepWizard = $('div.setup-panel div a[href="#' + curStepBtn + '"]').parent().prev().children("a");
			
			    prevStepWizard.removeAttr('disabled').trigger('click');
		});
	
		allNextBtn.click(function(){
			var curStep = $(this).closest(".setup-content"),
			    curStepBtn = curStep.attr("id"),
			    nextStepWizard = $('div.setup-panel div a[href="#' + curStepBtn + '"]').parent().next().children("a"),
			    curInputs = curStep.find("input[type='text'],input[type='url']"),
			    isValid = true;
			
			$(".form-group").removeClass("has-error");
			for(var i=0; i<curInputs.length; i++){
			    if (!curInputs[i].validity.valid){
			        isValid = false;
			        $(curInputs[i]).closest(".form-group").addClass("has-error");
			    }
			}
			
			if (isValid)
			    nextStepWizard.removeAttr('disabled').trigger('click');
		});
	
		$('div.setup-panel div a.btn-primary').trigger('click');
		 
		$('#ldapBaseDN').keyup(function () {
			$('#agentDN').val("ou=Agents," + $('#ldapBaseDN').val());
			$('#peopleDN').val("ou=Users," + $('#ldapBaseDN').val());
			$('#groupDN').val("ou=Groups," + $('#ldapBaseDN').val());
			$('#computerGroupDN').val("ou=Agent," + $('#groupDN').val());
			$('#userGroupDN').val("ou=User," + $('#groupDN').val());
			$('#sudoGroupDN').val("ou=Role," + $('#groupDN').val());
		});
	});
	function save() {
		var params = {
			    "ldapServer" : $('#ldapServerAddress').val(),
			    "ldapPort": $('#ldapServerPort').val(),
			    "ldapUsername": $('#ldapUserDN').val(),
			    "ldapPassword": $('#ldapUserPassword').val(),
			    "ldapRootDn": $('#ldapBaseDN').val(),
				"xmppHost": $('#XMPPServerAddress').val(),
				"xmppPort": $('#XMPPServerPort').val(),
				"xmppUsername": $('#XMPPUserName').val(),
				"xmppPassword": $('#XMPPUserPassword').val(),
				"fileServerProtocol": $('#fileTransferType').val(),
				"fileServerHost": $('#fileServerAddress').val(),
				"fileServerUsername": $('#fileServerUserName').val(),
				"fileServerPassword": $('#fileServerUserPassword').val(),
				"fileServerPort": $('#fileServerPort').val()
			};
		console.log(params)
		$.ajax({ 
		    type: 'POST', 
		    url: "/lider/config/save",
		    dataType: 'json',
		    data: params,
		    success: function (data) {
		    	console.log(data);
		    	if(data == true) {
		    		$.notify("Sunucu bilgileri kaydedildi. Şimdi giriş ekranına yönlendirileceksiniz.", "success");
		    		//redirect to login
		    		setTimeout( function() 
	   					{
	   						window.location.replace("/")
	   					}, 1000);
		    		
		    	} else {
		    		$.notify("Sunucu kayıt işlemi esnasında hata oluştu. Lütfen tekrar deneyiniz.1", "error");
		    	}
		    },
		    error: function (data, errorThrown) {
		    	$.notify("Sunucu kayıt işlemi esnasında hata oluştu. Lütfen tekrar deneyiniz.2", "error");
		    }
		});
	}
</script>

<title>Lider Ahenk Merkezi Yonetim Sistemi</title>
</head>
<body>
	<div class="container"></div>
	<div class="container">

		<div class="stepwizard">
			<div class="stepwizard-row setup-panel">
				<div class="stepwizard-step">
					<a href="#step-1" type="button" class="btn btn-primary btn-circle">1</a>
					<p>LDAP Sunucusu Bilgileri</p>
				</div>
				<div class="stepwizard-step">
					<a href="#step-2" type="button" class="btn btn-default btn-circle"
						disabled="disabled">2</a>
					<p>XMPP Sunucusu Bilgileri</p>
				</div>
				<div class="stepwizard-step">
					<a href="#step-3" type="button" class="btn btn-default btn-circle"
						disabled="disabled">3</a>
					<p>Dosya Sunucusu Bilgileri</p>
				</div>
			</div>
		</div>

		<form role="form" action="" method="post">
			<div class="row setup-content" id="step-1">
				<div class="">
					<div class="col-md-12">
						<h3>LDAP Sunucusu Bilgileri</h3>
						<!-- row 1 -->
						<div class="form-row">
							<!-- 
							<div class="col-md-2">
								<div class="position-relative form-group">
									<label for="labelLdapURLType" class="">&nbsp;</label>
						  			<select class="form-control" id="ldapURLType" name="ldapURLType">
										<option value="ldap://">ldap://</option>
										<option value="ldaps://">ldaps://</option>
						  			</select>
								</div>
							</div>
							 -->
							<div class="col-md-4">
								<div class="position-relative form-group">
									<label for="labelLdapServerAddress" class="control-label">LDAP Sunucu Adresi</label>
									<input name="ldapServerAddress" id="ldapServerAddress" required="required"
										type="text" placeholder="10.10.56.145" class="form-control">
								</div>
							</div>
							<div class="col-md-2">
								<div class="position-relative form-group">
									<label for="labelLdapServerPort" class="control-label">Port</label>
									<input name="ldapServerPort" id="ldapServerPort" required="required"
										type="text" value="389" placeholder="389" class="form-control">
								</div>
							</div>
							<div class="col-md-6">
								<div class="position-relative form-group">
									<label for="labelLdabBaseDN" class="control-label">Domain Adı</label>
									<input name="ldapBaseDN" id="ldapBaseDN" required="required"
										type="text" placeholder="dc=liderahenk,dc=org" class="form-control">
								</div>
							</div>
						</div>
						
						<!-- row 2 -->
						<div class="form-row">
							<div class="col-md-6">
								<div class="position-relative form-group">
									<label for="labelLdapServerAddress" class="control-label">LDAP Kullanıcı DN</label>
									<input name="ldapUserDN" id="ldapUserDN" required="required"
										type="text" placeholder="cn=admin,dc=liderahenk,dc=org" class="form-control">
								</div>
							</div>
							<div class="col-md-6">
								<div class="position-relative form-group">
									<label for="labelLdapUserPassword" class="control-label">LDAP Kullanıcı Şifresi</label>
									<input name="ldapUserPassword" id="ldapUserPassword" required="required"
										type="text" class="form-control">
								</div>
							</div>
						</div>
						
						<!-- row 3 -->
						<div class="form-row">
							<div class="col-md-6">
								<div class="position-relative form-group">
									<label for="labelLdapServerAddress" class="">Ahenk Klasörü</label>
									<input name="agentDN" id="agentDN"
										value="ou=Agents,dc=liderahenk,dc=org" class="form-control" disabled>
								</div>
							</div>
							<div class="col-md-6">
								<div class="position-relative form-group">
									<label for="labelPeopleDN" class="">Kullanıcı Klasörü</label>
									<input name="peopleDN" id="peopleDN"
										value="ou=Users,dc=liderahenk,dc=org" class="form-control" disabled>
								</div>
							</div>
						</div>
						
						<!-- row 4 -->
						<div class="form-row">
							<div class="col-md-6">
								<div class="position-relative form-group">
									<label for="labelGroupDN" class="">Grup Klasörü</label>
									<input name="groupDN" id="groupDN"
										value="ou=Groups,dc=liderahenk,dc=org" class="form-control" disabled>
								</div>
							</div>
							<div class="col-md-6">
								<div class="position-relative form-group">
									<label for="labelComputerGroupDN" class="">İstemci Grubu Klasörü</label>
									<input name="computerGroupDN" id="computerGroupDN"
										value="ou=Agent,ou=Groups,dc=liderahenk,dc=org" class="form-control" disabled>
								</div>
							</div>
						</div>
						
						<!-- row 5 -->
						<div class="form-row">
							<div class="col-md-6">
								<div class="position-relative form-group">
									<label for="labelUserGroupDN" class="">Kullanıcı Grubu Klasörü</label>
									<input name="userGroupDN" id="userGroupDN"
										value="ou=User,ou=Groups,dc=liderahenk,dc=org" class="form-control" disabled>
								</div>
							</div>
							<div class="col-md-6">
								<div class="position-relative form-group">
									<label for="labelSudoGroupDN" class="">Yetki Grubu Klasörü(Sudo)</label>
									<input name="sudoGroupDN" id="sudoGroupDN"
										value="ou=Role,ou=Groups,dc=liderahenk,dc=org" class="form-control" disabled>
								</div>
							</div>
							<div class="col-md-12">
								<div class="position-relative form-group">
									<button class="btn btn-primary nextBtn pull-right" type="button">Sonraki</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row setup-content" id="step-2">
				<div class="">
					<div class="col-md-12">
						<h3>XMPP Sunucusu Bilgileri</h3>
						<!-- row 1 -->
						<div class="form-row">
							<div class="col-md-6">
								<div class="position-relative form-group">
									<label for="labelXMPPServerAddress" class="control-label">XMPP Sunucu Adresi</label>
									<input name="XMPPServerAddress" id="XMPPServerAddress" required="required"
										type="text" placeholder="10.10.56.146" class="form-control">
								</div>
							</div>
							<div class="col-md-6">
								<div class="position-relative form-group">
									<label for="labelXMPPServerPort" class="control-label">Port</label>
									<input name="XMPPServerPort" id="XMPPServerPort" required="required"
										type="text" placeholder="5222" class="form-control" value="5222">
								</div>
							</div>
						</div>
						<!-- row 2 -->
						<div class="form-row">
							<div class="col-md-6">
								<div class="position-relative form-group">
									<label for="labelXMPPUserName" class="control-label">XMPP Kullanıcı Adı</label>
									<input name="XMPPUserName" id="XMPPUserName" required="required"
										type="text" placeholder="lider_sunucu" class="form-control">
								</div>
							</div>
							<div class="col-md-6">
								<div class="position-relative form-group">
									<label for="labelXMPPUserPassword" class="control-label">XMPP Kullanıcı Şifresi</label>
									<input name="XMPPUserPassword" id="XMPPUserPassword" required="required"
										type="text" class="form-control">
								</div>
							</div>
						</div>
						<div class="col-md-12">
							<div class="position-relative form-group">
								<button class="btn btn-primary prevBtn pull-left" type="button">Önceki</button>
								<button class="btn btn-primary nextBtn pull-right" type="button">Sonraki</button>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row setup-content" id="step-3">
				<div class="">
					<div class="col-md-12">
						<h3>Dosya Sunucusu Bilgileri</h3>
						<!-- row 1 -->
						<div class="form-row">
							<div class="col-md-2">
								<div class="position-relative form-group">
									<label for="labelFileTransferType" class="">Transfer Tipi</label>
						  			<select class="form-control" id="fileTransferType" name="fileTransferType">
										<option value="SSH">SSH</option>
										<option value="HTTP">HTTP</option>
										<option value="TORRENT">TORRENT</option>
						  			</select>
								</div>
							</div>
							<div class="col-md-6">
								<div class="position-relative form-group">
									<label for="labelfileServerAddress" class="control-label">Dosya Sunucusu Adresi</label>
									<input name="fileServerAddress" id="fileServerAddress" required="required"
										type="text" placeholder="10.10.56.147" class="form-control">
								</div>
							</div>
							<div class="col-md-4">
								<div class="position-relative form-group">
									<label for="labelFileServerPort" class="control-label">Port</label>
									<input name="fileServerPort" id="fileServerPort" required="required"
										type="text" placeholder="22" class="form-control" value="22">
								</div>
							</div>
						</div>
						<!-- row 2 -->
						<div class="form-row">
							<div class="col-md-6">
								<div class="position-relative form-group">
									<label for="labelFileServerUserName" class="control-label">Sunucu Erişimi İçin Kullanıcı Adı</label>
									<input name="fileServerUserName" id="fileServerUserName" required="required"
										type="text" placeholder="lider" class="form-control">
								</div>
							</div>
							<div class="col-md-6">
								<div class="position-relative form-group">
									<label for="labelFileServerUserPassword" class="control-label">Kullanıcı Şifresi</label>
									<input name="fileServerUserPassword" id="fileServerUserPassword" required="required"
										type="text" class="form-control">
								</div>
							</div>
						</div>
						<div class="col-md-12">
							<div class="position-relative form-group">
								<button class="btn btn-primary prevBtn pull-left" type="button">Önceki</button>
								<button class="btn btn-primary nextBtn pull-right" onclick="save()" type="button">Kaydet</button>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row setup-content" id="step-4">
				<div class="">
					<div class="col-md-12">
						<h3>Diğer Bilgiler</h3>
						<button class="btn btn-primary prevBtn btn-lg pull-left"
							type="button">Previous</button>
						<button class="btn btn-success btn-lg pull-right" type="submit">Submit</button>
					</div>
				</div>
			</div>
		</form>

	</div>
</body>
</html>