<script  type="text/javascript" >
var enableDeleteUpdate = '[[${enableDeleteUpdate}]]';
</script>

<script type="text/javascript" src="js/util.js"></script>
<script type="text/javascript" src="js/ad/dmTreeManager.js"></script>
<script type="text/javascript" src="js/ad/dm.js"></script>
<script type="text/javascript" src="js/user/userTreeManager.js"></script>
<script type="text/javascript" src="js/custom.js"></script>
<script type="text/javascript" src="js/user-groups/user_groups_treemanager.js"></script>
<style type="text/css">

.allow-scroll {
    height: 560px;
    overflow-y: auto;
    overflow-x: none ;
}
.notifyjs-foo-base {
  opacity: 0.85;
  width: 200px;
  background: #F5F5F5;
  padding: 5px;
  border-radius: 10px;
}

.notifyjs-foo-base .title {
  width: 100px;
  float: left;
  margin: 10px 0 0 10px;
  text-align: right;
}

.notifyjs-foo-base .buttons {
  width: 70px;
  float: right;
  font-size: 9px;
  padding: 5px;
  margin: 2px;
}

.notifyjs-foo-base button {
  font-size: 9px;
  padding: 5px;
  margin: 2px;
  width: 60px;
}
</style>
<div class="col-lg-3">
	<div>
		<div id="treeGridAdUserHolderDiv" style="margin-top: 7px;"></div>
		
		<div id="progressAdTree"  style="display: none;  width: 100%; height: 100%;  left: 0px; position:absolute ;  text-align: center;">
		  <div style="position:absolute; top: -50%; left: 30%;" > 
	  			<img src="img/LoadingPage.gif" width="50" height="50"  /> <span> <b> Lütfen Bekleyiniz... </b> </span> 
		  </div>
		</div>
		
		<div id='treeMenu'>
			<div class="main-card mb-3 card">
					<div id="treeMenuDomain" >
						<ul>  
							<li> <a href="#"  class="btnAdUserAddModal" data-target="#genericModalLarge"	data-toggle="modal"> <i class="fa fa-user-plus blue">&nbsp;</i> <span> Kullanıcı Ekle </span> </a></li>    
							<li> <a href="#"  class="btnAdOuAddModal" data-target="#genericModalLarge"	data-toggle="modal"> <i class="fa fa-folder-plus blue">&nbsp;</i> <span> Organizasyon Birimi Ekle </span> </a>  </li> 
							<li> <a href="#"  class="btnAdGroupAddModal" data-target="#genericModalLarge"	data-toggle="modal"> <i class="fa fa-users blue">&nbsp;</i> <span> Grup Ekle </span> </a>  </li> 
							<li> <a href="#"  class="btnEntryAttributeModal" data-target="#genericModalLarge"	data-toggle="modal"> <i class="fa fa-tasks blue">&nbsp; &nbsp;</i> <span> Öznitelikler </span> </a></li> 
						</ul>
					</div>
					<div id="treeMenuContainer" >
						<ul>  
							<li> <a href="#"  class="btnAdUserAddModal" data-target="#genericModalLarge"	data-toggle="modal"> <i class="fa fa-user-plus blue">&nbsp;</i> <span> Kullanıcı Ekle </span> </a></li>   
							<li> <a href="#"  class="btnAdGroupAddModal" data-target="#genericModalLarge"	data-toggle="modal"> <i class="fa fa-users blue">&nbsp;</i> <span> Grup Ekle </span> </a>  </li> 
							<li> <a href="#"  class="btnEntryAttributeModal" data-target="#genericModalLarge"	data-toggle="modal"> <i class="fa fa-tasks blue">&nbsp; &nbsp;</i> <span> Öznitelikler </span> </a></li> 
						</ul>
					</div>
					<div id="treeMenuOu" >
						<ul>  
							<li> <a href="#"  class="btnAdUserAddModal" data-target="#genericModalLarge"	data-toggle="modal"> <i class="fa fa-user-plus blue">&nbsp;</i> <span> Kullanıcı Ekle </span> </a></li>    
							<li> <a href="#"  class="btnAdOuAddModal" data-target="#genericModalLarge"	data-toggle="modal"> <i class="fa fa-folder-plus blue">&nbsp;</i> <span> Organizasyon Birimi Ekle </span> </a>  </li> 
							<li> <a href="#"  class="btnAdGroupAddModal" data-target="#genericModalLarge"	data-toggle="modal"> <i class="fa fa-users blue">&nbsp;</i> <span> Grup Ekle </span> </a>  </li> 
							<li> <a href="#"  class="btnEntryAttributeModal" data-target="#genericModalLarge"	data-toggle="modal"> <i class="fa fa-tasks blue">&nbsp; &nbsp;</i> <span> Öznitelikler </span> </a></li> 
							<li> <a href="#"  id="btnDeleteOuModal" data-target="#genericModalLarge"	data-toggle="modal"> <i class="fa fa-trash red">&nbsp; &nbsp;</i> <span>Organizasyon Birimi Sil </span> </a>  </li>
						</ul>
					</div>
					<div id="treeMenuGroup" >
						<ul>  
							<li> <a href="#"  id="btnAddMember2GroupModal" data-target="#genericModalLarge"	data-toggle="modal"> <i class="fa fa-user-plus blue">&nbsp;</i> <span>Gruba Üye Ekle </span> </a>  </li>
							<li> <a href="#"  class="btnEntryAttributeModal" data-target="#genericModalLarge"	data-toggle="modal"> <i class="fa fa-tasks blue">&nbsp; &nbsp;</i> <span> Öznitelikler </span> </a></li> 
							<li> <a href="#"  id="btnDeleteGroupModal" data-target="#genericModalLarge"	data-toggle="modal"> <i class="fa fa-trash red">&nbsp; &nbsp;</i> <span>Grubu Sil </span> </a>  </li> 
						</ul>
					</div>
					<div id="treeMenuUser" >
						<ul>  
							<li> <a href="#"  id="btnAddUserToADGroupModal" data-target="#genericModalLarge"	data-toggle="modal"> <i class="fa fa-plus-square blue">&nbsp; &nbsp;</i> <span>Gruba Ekle</span> </a></li> 
							<li> <a href="#"  id="moveLdapModal" data-target="#genericModalLarge"	data-toggle="modal"> <i class="fa fa-certificate blue">&nbsp; &nbsp;</i> <span>Lider'e Aktar</span> </a></li> 
							<li> <a href="#"  class="btnEntryAttributeModal" data-target="#genericModalLarge"	data-toggle="modal"> <i class="fa fa-tasks blue">&nbsp; &nbsp;</i> <span> Öznitelikler </span> </a></li> 
						</ul>
					</div>
			</div>
   		</div>
		
	</div>
</div>
<div class="col-lg-9 green" >
			<div class="row" style="margin-top: 15px"> 
					<div class="col-lg-12 col-md-12">
						<div id="innerPageContent"></div>
					</div>		
					
			</div>
</div>
