<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://www.thymeleaf.org ">
<head>
    <meta charset="UTF-8"/>
    <title>UZAK MASAUSTU</title>
    <link href="css/main.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="css/main_b.css" />
	<link rel="stylesheet" type="text/css" href="css/custom.css" />
</head>
<body style="background-color: black;">
    <div>
    <script type="text/javascript" src="js/jquery-3.4.1.min.js"></script> 
	<script type="text/javascript" src="js/bootstrap.min.js"></script> 
	<script type="text/javascript" src="js/notify.min.js"></script>
		<!-- Guacamole -->
        <script type="text/javascript"  src="js/guacamole-common-js/all.min.js"></script>
    	
    	<button id="btnDisconnectVCN" class="btn btn-info" style="margin-top: 8px; margin-left: 8px; margin-bottom: 8px; ">
                               <i class="nav-link-icon fa fa-cog"></i>
                                Baglantıyı Kapat
        </button>
   		<!-- Display -->
    	<div  class="col-lg-12 col-md-12" >
    		<div id="display"></div>
    	</div>
        
        <!-- Init -->
        <script type="text/javascript"> /* <![CDATA[ */

            // Get display div from document
            var display = document.getElementById("display");

            // Instantiate client, using an HTTP tunnel for communications.
           var guac = new Guacamole.Client(
                new Guacamole.HTTPTunnel("tunnel")
            );

            console.log(guac)
            if(guac == null){
            	$.notify("Uzak Masaüstü sunucusunda hata oluştu", "warn");
            }else{
            	 // Add client to display div
                display.append(guac.getDisplay().getElement());
                
                // Error handler
                guac.onerror = function(error) {
                	console.log(error)
                	$.notify("Uzak Masaüstü sunucusunda hata oluştu", "warn");
                };

                // Connect
                guac.connect();

                // Disconnect on close
                window.onunload = function() {
                    guac.disconnect();
                }
                
                var mouse = new Guacamole.Mouse(guac.getDisplay().getElement());

                mouse.onmousedown = 
                    mouse.onmouseup   =
                    mouse.onmousemove = function(mouseState) {
                        guac.sendMouseState(mouseState);
                    };
               

                // Keyboard
                var keyboard = new Guacamole.Keyboard(document);

                keyboard.onkeydown = function (keysym) {
                    guac.sendKeyEvent(1, keysym);
                };

                keyboard.onkeyup = function (keysym) {
                    guac.sendKeyEvent(0, keysym);
                };
                
                $(document).ready(function(){
                	$('#btnDisconnectVCN').click(function(e){
                		guac.disconnect();
                 		$('#display').hide()
                    });
                });
            }

           

        /* ]]> */ </script>
        
    </div>
    
</body>
</html>