<script type="text/javascript" src="js/user/lider_console_user.js"></script>
<style type="text/css">
.userInfo {
    font-size: 13px;
}
</style>
	
<div class="row" style="height: 1200px; margin: 10px;">
  <div class="col-3">
    <div class="list-group" id="list-tab" role="tablist">
      <a class="list-group-item list-group-item-action active" id="btnLiderConsoleProfileTab" data-toggle="list" href="#liderConsoleProfile" role="tab" aria-controls="userProfile">Kullanıcı Bilgileri</a>
      <a class="list-group-item list-group-item-action" id="btnChangePasswordLiderConsoleTab" data-toggle="list" href="#changePasswordLiderConsole" role="tab" aria-controls="userChangePassword">Hesap Güvenliği</a>
      <a class="list-group-item list-group-item-action" id="btnLiderConsoleSessions" data-toggle="list" href="#liderConsoleSessionsList" role="tab" aria-controls="liderConsoleSessions">Oturum Bilgileri</a>
      <a class="list-group-item list-group-item-action" id="btnGroupsOfLiderConsole" data-toggle="list" href="#groupsOfLiderConsole" role="tab" aria-controls="groupsOfLiderConsole">Grup Bilgileri</a>
<!--       <a class="list-group-item list-group-item-action" id="btnPolicyHistorOfLiderConsoley" data-toggle="list" href="#policyHistorOfLiderConsoley" role="tab" aria-controls="policyHistorOfLiderConsoley">Politika Geçmişi</a> -->
    </div>
  </div>
  <div class="col-9 white">
    <div class="tab-content" id="nav-tabContent">
		<div class="tab-pane fade show active col-lg-8" id="liderConsoleProfile" role="tabpanel" aria-labelledby="liderConsoleProfile">
			<hr>
            <h5>Kullanıcı Bilgileri</h5>
            <hr>
			<div>
				<div class="form-group">
					<label>Kullanıcı ID</label> 
					<input class="form-control" disabled="disabled" type="text" id="liderConsoleUserUid">
				</div>
				<div class="form-group">
					<label>Kullanıcı Adı</label> 
					<input class="form-control" type="text" id="liderConsoleUserCn">
				</div>
				<div class="form-group">
					<label>Kullanıcı Soyadı</label> 
					<input class="form-control" type="text" id="liderConsoleUserSn">
				</div>
				<div class="form-group">
					<label>Kullanıcı DN</label> 
					<input class="form-control" disabled="disabled" type="text" id="liderConsoleUserDn">
				</div>
				<div class="form-group">
					<label>E-posta</label> 
					<input class="form-control" type="text" id="liderConsoleUserEmail">
				</div>
				<div class="form-group">
					<label>Telefon Numarası</label> 
					<input class="form-control" type="text" id="liderConsoleUserPhone">
				</div>
				<div class="form-group">
					<label>Kullanıcı Ev Dizini</label> 
					<input class="form-control" disabled="disabled" type="text" id="liderConsoleUserHomeDirectory">
				</div>
				<div class="form-group">
					<label>Oluşturma Tarihi</label> 
					<input class="form-control" disabled="disabled" type="text" id="liderConsoleUserCreateDate">
				</div>
				<div class="form-group">
					<label>Adres</label>
					<textarea class="form-control" id="liderConsoleUserAddress" rows="4"></textarea>
				</div>
				<div class="form-group">
					<a href="#" class="btn btn-primary submit-button pull-right" id="btnUpdateConsoleUserProfile">
						<span>Bilgileri Güncelle</span>
					</a>
				</div>
			</div>
		</div>
	    <div class="tab-pane fade col-lg-8" id="changePasswordLiderConsole" role="tabpanel" aria-labelledby="change-password-lider-console">
			<hr>
			<h5>Parola Değiştir</h5>
			<hr>
			<form id="consoleUserPassword">
				<div class="form-group">
					<label>Eski Parola</label>
					<input class="form-control" type="password"	id="oldConsoleUserPassword" name="oldUserPassword" placeholder="Eski Parola"/>
				</div>
				<div class="form-group">
					<label>Yeni Parola</label>
					 <input class="form-control" type="password" id="newConsoleUserPassword" name="newUserPassword" placeholder="Yeni Parola"/>
				</div>
				<div class="form-group">
					<label>Yeni Parola Onayla</label>
					<input class="form-control"	type="password" id="newConsoleUserConfirmPassword" name="newConfirmPassword" placeholder="Yeni Parola Onayla" />
				</div>
				<div class="form-group">
					<span class="text-secondary">Şifre en az 6 karakter olmalıdır. En az bir büyük harf, küçük harf ve sayı içermelidir.</span>
				</div>
				<div class="form-group">
					<a href="#" class="btn btn-primary submit-button pull-right" id="btnUpdateConsoleUserPassword">
						<span>Parola Güncelle</span>
					</a>
				</div>
			</form>
	  </div>
     <div class="tab-pane fade" id="liderConsoleSessionsList" role="tabpanel" aria-labelledby="liderConsoleSessionsList">
     	<hr>
		<h5>Oturum Geçmişi</h5>
		<hr>
     	<div id="liderConsoleSessionListDiv"></div>
     </div>
     <div class="tab-pane fade col-lg-8" id="groupsOfLiderConsole" role="tabpanel" aria-labelledby="groupsOfLiderConsole">
     	<hr>
		<h5>Kullanıcı Grup Bilgileri</h5>
		<hr>
     	<div id="groupsOfLiderConsoleDiv"></div>
     	<hr>
     	<h5>Kullanıcı Yetki Grup Bilgileri(Sudo)</h5>
     	<hr>
     	<div id="rolesOfLiderConsoleDiv"></div>
     </div>
     <div class="tab-pane fade" id="policyHistorOfLiderConsoley" role="tabpanel" aria-labelledby="policyHistorOfLiderConsoley">
     	<hr>
		<h5>Politika Geçmişi</h5>
		<hr>
     	<div id="policyHistorOfLiderConsoleyDiv"></div>
     </div>
    </div>
  </div>
</div>
	
