<!DOCTYPE html>
<html lang="en" class="app-ui" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, maximum-scale=1" />

<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css"	rel="stylesheet" id="bootstrap-css">
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css"	rel="stylesheet">
<link href='http://fonts.googleapis.com/css?family=Varela+Round'rel='stylesheet' type='text/css'>
<link rel='stylesheet'	href='//code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css'>
<link rel="stylesheet" type="text/css" href="css/jquery.treegrid.css" />
<link rel="stylesheet" type="text/css" href="css/metisMenu.css" />
<link rel="stylesheet" type="text/css" href="css/sb-admin-2.css" />
<link rel="stylesheet" type="text/css" href="/css/main.css" />


<style>
.log {
	width: 250px;
	word-wrap: break-word;
	margin-left: 6px;
}
</style>


</head>
<body>
	<div id="wrapper">


		<!-- Navigation -->
		<nav class="navbar navbar-default navbar-static-top" role="navigation"
			style="margin-bottom: 0">
			<!-- Banner Menu -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse"
					data-target=".navbar-collapse">
					<span class="sr-only">Toggle navigation</span> <span
						class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#" style="color: red; font-weight: bold; ">Lider Merkezi Yönetim Sistemi</a>
			</div>
			<!-- /.navbar-header -->

			<!-- Ust menu sag kisim -->
			<ul class="nav navbar-top-links navbar-right">
				<!-- /.dropdown -->
				<li class="dropdown"><a class="dropdown-toggle"
					data-toggle="dropdown" href="#"> <i class="fa fa-user fa-fw"></i>
						<i class="fa fa-caret-down"></i>
				</a>
					<ul class="dropdown-menu dropdown-user">
						<li><a href="#"><i class="fa fa-user fa-fw"></i>
								Kullanıcı Profili</a></li>
						<li><a href="#"><i class="fa fa-gear fa-fw"></i> Ayarlar</a>


						</li>
						<li class="divider"></li>
						<li><a href="#" id="logout"><i
								class="fa fa-sign-out fa-fw"> </i>Logout</a></li>

						<li><input type="text" id="userName"
							value="${sessionScope.userNameJid}"></li>
						<li><input type="text" id="userPassword"
							value="${sessionScope.userPassword}"></li>

					</ul> <!-- /.dropdown-user --></li>
				<!-- /.dropdown -->
			</ul>
			<!-- /.navbar-top-links -->

			<!-- Sol Menu -->
			<div class="navbar-default sidebar" role="navigation">
				<div class="sidebar-nav navbar-collapse">
					<ul class="nav" id="side-menu">
						<li class="sidebar-search">
							<div class="input-group custom-search-form">
								<input type="text" class="form-control" placeholder="Ara...">
								<span class="input-group-btn">
									<button class="btn btn-default" type="button">
										<i class="fa fa-search"></i>
									</button>
								</span>
							</div> <!-- /input-group -->
						</li>

						<li id="tablelist">

<!-- <table class="tree">
  <tbody>
    <tr class="treegrid-1 expanded"><td>Root node</td><td>Additional info</td></tr>
    <tr class="treegrid-2 treegrid-parent-1"><td>Node 1-1</td><td>Additional info</td></tr>
    <tr class="treegrid-3 treegrid-parent-1"><td>Node 1-2</td><td>Additional info</td></tr>
    <tr class="treegrid-4 treegrid-parent-3"><td>Node 1-2-1</td><td>Additional info</td></tr>
    <tr class="treegrid-5 treegrid-parent-3"><td>Node 1-2-2</td><td>Additional info</td></tr>
    <tr class="treegrid-6"><td>Root node</td><td>Additional info</td></tr>
    <tr class="treegrid-7 treegrid-parent-6"><td>Node 2-1</td><td>Additional info</td></tr>
  </tbody>
</table>  -->

			 				 <table class="tree" id="mytable">
								<thead>
									<tr>
										<td align="center">Organizasyon Yapısı</td>
									</tr>
								</thead>


								<th:block th:each="entry : ${ldapTreeList}">
								
									<tr align="left" th:id="${entry.entryUUID}" th:class=" ${entry.parent}  ? 'treegrid-'+${entry.entryUUID} +' ' +' treegrid-parent-'+ ${entry.parent} : 'treegrid-'+${entry.entryUUID}+' ' +' expanded'">

										<td><img alt="" src="/img/folder.png"> <a
											href="#" class="gonder" id="send"
											th:attr="data-id=${entry.distinguishedName}" > <span
												th:text="${entry.name}"></span>
										</a></td>

									</tr>
									
							
								</th:block>
							</table> 

						</li>

					</ul>

				</div>
				<!-- /.sidebar-collapse -->

				<div id='log' class="log"></div>


			</div>
			<!-- /.navbar-static-side -->
		</nav>

		<div id="page-wrapper">

			<div class="row">

				<div class="col-lg-9">


					<div class="panel panel-info">
						<div class="panel-heading">

							<div class="row">

								<input type="checkbox" id="checkAll" value="Tümünü Seç">
								Tümünü Seç

							</div>
						</div>

						<div class="panel-body">

							<div class="row">

								<div id="entryTable" class="col-lg-6"></div>
							</div>

							<div class="row">

								<a id="addSelectedEntry"> Ekle </a>

							</div>

							<hr>

							<div class="row">

								<div class="col-lg-6">
									<h4 id="agents"></h4>

									<div id="selectedEntriesHolder"></div>
								</div>
							</div>

						</div>

					</div>

				</div>

				<div class="col-lg-3">

					<div class="panel panel-info">
						<div class="panel-heading">Görevler</div>
						<div class="panel-body">

									 <div id="pluginList"> 
										 <ul class="list-group"  style="max-height: 500px;" id="pluginUl">
												
												 <li th:each="plugin : ${pluginList}" >
													
													<a th:text="${plugin.name}" href="#" class="list-group-item " >
													    
												  	</a>
												  
												  </li>
											 </ul> 
									</div> 
						</div>

					</div>
				</div>

			</div>

			<!-- end page wrapper div -->
		</div>

		<!-- MODALL -->
		<div class="modal fade" id="randevuListModal" tabindex="-1"
			role="dialog" aria-labelledby="exampleModalLabel"
			style="color: black; font-size: 11px;">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal"
							aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>

						<h4 class="modal-title" id="exampleModalLabel"></h4>
					</div>

					<div class="modal-body">

						<div id="render"></div>

					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default"
							id="randevuListKapat" data-dismiss="modal">Kapat</button>
					</div>

				</div>
			</div>
		</div>

		<!-- end wrapper div -->

	</div>


	<!-- <script type="text/javascript" src="js/jquery-3.1.1.min.js"></script> -->
	<script type="text/javascript" src="js/jquery-1.10.2.min.js"></script>
	<script type="text/javascript" src="js/bootstrap.min.js"></script>
	<script type="text/javascript" src="js/jquery.treegrid.js"></script>
	<script type="text/javascript" src="js/metisMenu.min.js"></script>
	<script type="text/javascript" src="js/sb-admin-2.js"></script>
	<script type="text/javascript" src="js/strophe.js"></script>
	<!-- <script type="text/javascript"	src="/js/main.js"></script> -->

	<script type="text/javascript">
		
		var BOSH_SERVICE = 'http://localhost:5280/bosh';
		var connection = null; 

		$('.tree').treegrid();
		
		$(document).ready(function() {
			
			

			var username = '[[${userNameJid}]]';
			var password = '[[${password}]]';

			connection = new Strophe.Connection(BOSH_SERVICE);

			connection.connect(username, password, onConnect);

			$('#disconnect').bind('click', function() {

				connection.disconnect();

			});
			
		});
		 
		function onConnect(status)
		{
		   if (status == Strophe.Status.CONNECTING) {
		 	/* log('Strophe is connecting.'); */
		     } 
		   else if (status == Strophe.Status.CONNFAIL) {
		 	log('Sunucuya bağlanırken hata oluştu.');
		 	$('#connect').get(0).value = 'connect';
		     } 
		   else if (status == Strophe.Status.DISCONNECTING) {
		 	log('Sunucu bağlantısı koparılmaktadır.');
		     } 
		   else if (status == Strophe.Status.DISCONNECTED) {
		 	log('Sunucu bağlantısı koparıldı.');
		 	$('#connect').get(0).value = 'connect';
		     } 
		   else if (status == Strophe.Status.CONNECTED) {
		 	log('Sunucu ile bağlantı kuruldu.');
		 	log('Mesaj göndermek için kullanıcı adım: ' + connection.jid );

		 	connection.addHandler(onMessage, null, 'message', null, null,  null); 
		 	connection.send($pres().tree());
		   }
		}
		
		function onMessage(msg) {
		    var to = msg.getAttribute('to');
		    var from = msg.getAttribute('from');
		    var type = msg.getAttribute('type');
		    var elems = msg.getElementsByTagName('body');

		    if (type == "chat" && elems.length > 0) {
			var body = elems[0];

			var resul={"name":"edip","age":30};

			//var data=  JSON.stringify(resul);

			log('Mesaj Alındı:  ' + from + ': ' +    Strophe.getText(body));

			//log('Data : ' +   body[0] );
		    
			var reply = $msg({to: from, from: to, type: 'chat'}).cnode(Strophe.copyElement(body));
			connection.send(reply.tree());
			
			 log('Mesaj Gönderildi. ' + from + ': ' + Strophe.getText(body));
		    }

		    // we must return true to keep the handler alive.  
		    // returning false would remove it after it finishes.
		    return true;
		}
		
		function log(msg) 
		{
		    $('#log').append('<div></div>').append(document.createTextNode(msg));
		}
		 
	</script>




</body>
</html>