<script type="text/javascript" src="js/policy/policy.js"></script>

		<div class="col-lg-12 green">
			<div>
				<div class="row" style="margin-top: 15px">
					<div class="col-lg-10">
						<div>
							<button role="tab" class="btn btn-info" id="btn-system-policy" data-toggle="tab"><i class="fa fa-sliders-h"></i> Sistem ve Oturum Yönetimi </button>
							<button role="tab" class="btn btn-info" id="btn-script-policy" data-toggle="tab"><i class="fa fa-terminal"></i> Betik</button>
							<button role="tab" class="btn btn-info" id="btn-securityAndNetwork" data-toggle="tab"><i class="fa fa-network-wired"></i> Güvenlik ve Kısıtlamalar</button>
						</div>
					</div>
					<div class="col-lg-2" >
						<a class="nav-link  pull-right"> <i class="nav-link-icon fas fa-info-circle"> </i> &nbsp; <span > </span> </a>
					</div>
				</div>
					<hr>
					<div>
						<div id="systemPagePolicy">
							<div class="row">
								<div class="col-lg-5">
								</div>
								<div class="col-lg-7">
									<div id="conky-policy"></div>
								</div>
							</div>
					   </div>
					  </div>
					  <div id="scriptManagementPage">
						<div id="execute-script-policy"></div>
					  </div>
					  <div id="securityAndNetworkManagementPage">
					 	 <div class="row">
							<div class="col-lg-5">
								<div id="usb-management-policy"></div>
							</div>
					  	</div>
					  </div>
					</div>
			</div>
