<script src="assets/js/app.js"></script>
<script src="assets/js/app-custom.js"></script>

<script type="text/javascript">
	var users;
	var selectedTrIndex = "";
	var selectedDN = "";
	var selectedEntryUUID = "";
	var selectedName = "";
	
	$(document).ready(function () {
		$(".adSettings").hide();
		$('#cbShowADSettings').change(function() {
	        if($(this).is(":checked")) {
	        	$(".adSettings").show();
	        } else {
	        	$(".adSettings").hide();
	        }
	    });
		getConsoleUsers();
		getConfigurationParams();
	});
	
	function getConsoleUsers() {
		$.ajax({ 
		    type: 'GET', 
		    url: "/lider/ldap/getConsoleUsers",
		    dataType: 'json',
		    success: function (data) { 
		    	if(data != null) {
		    		users = data;
		    		//set ldap configuration
		    		var trElement = "";
		    		$.each(data, function(index, element) {
		    			trElement += '<tr id="user_' + index + '"><td>' + (index+1) + '</td>';
		    			trElement += "<td>" + element.uid + "</td>";
		    			trElement += "<td>" + element.distinguishedName + "</td>";
		    			trElement += '<td>';
		    			trElement += '<a href="#" class="mr-1" title="Konsol Yetkisini Sil" data-toggle="tooltip" ';
		    			trElement += 'onclick=deleteUser("' + element.distinguishedName + '")>';
			    		trElement += '<i class="material-icons" style="font-size:24px;color:#E34724;">&#xE872;</i></a>';
		    			trElement += '<a href="#" title="Kullanıcı Rollerini Görüntüle" '; 
		    			trElement += 'onclick=showUserDetail("user_' + index+ '","' + element.distinguishedName+ '")>';
		    			trElement += '<i class="material-icons" style="font-size:24px;color:#3F6AD8;">chevron_right</i></a>';
		    			trElement += '</td></tr>';
		    		});
		    		$('#existingUsers').html(trElement);
		    	} else {
		    		$.notify("Ayarlar getirilirken hata oluştu. Lütfen tekrar deneyiniz.", "error");
		    	}
		    },
		    error: function (data, errorThrown) {
		    	$.notify("Ayarlar getirilirken hata oluştu. Lütfen tekrar deneyiniz.", "error");
		    },
			complete: function() {
				$('#user_0').css("background-color", "#E0F3FF");
				showUserDetail("user_0", users[0].distinguishedName);
			}
		});
	}
	
	function deleteUser(dn) {
		alert(dn);
	}
	
	function showUserDetail(index, dn) {
		//E0F3FF
		if(selectedTrIndex == "") {
			$('#' + index).css("background-color", "#E0F3FF");
			selectedTrIndex = index;
			
		} else if(selectedTrIndex != index) {
			$('#' + selectedTrIndex).css("background-color", "");
			$('#' + index).css("background-color", "#E0F3FF");
			selectedTrIndex = index;
		}

		$('#headerForSelectedUserRoles').html('Seçili Kullanıcı Rolleri (Kayıt DN: ' + dn + ')');
		var trElement = "";
		$.each(users, function(index, element) {
			var counter = 1;
			if(element.distinguishedName == dn) {
				for(var i = 0; i< element.attributesMultiValues["liderPrivilege"].length; i++) {
					if(element.attributesMultiValues["liderPrivilege"][i].startsWith("ROLE_")) {
						trElement += '<tr>';
						trElement += '<td>' + (counter++) + '</td>';
						trElement += '<td>' + element.attributesMultiValues["liderPrivilege"][i] + '</td>';
						trElement += '<td>';
						trElement += '<a class="delete mr-1" title="Rolü Kaldır" data-toggle="tooltip" onclick=deleteRoleFromUser("' + dn + '","' + element.attributesMultiValues["liderPrivilege"][i] +'")>';
			    		trElement += '<i class="material-icons" style="font-size:24px;color:#E34724;">&#xE872;</i></a>';
		    			trElement += '<a class="edit" title="Sayfaları Listele" data-toggle="tooltip"  onclick=showRolePages("' + element.distinguishedName + '")>';
		    			trElement += '<i class="material-icons" style="font-size:24px;color:#3F6AD8;">format_list_bulleted</i></a>';
			    		trElement += '</td>';
			    		trElement += '</tr>';
					}
				}
			}
		});
		$('#userRoles').html(trElement);
	}
	
	function btnAddNewConsoleUserClicked() {
		getModalContent("modals/settings/select_console_user", function content(data){
			$('#genericModalHeader').html("Konsol Kullanıcısı Ekle");
			$('#genericModalBodyRender').html(data);
			generateTreeToAddMembersToExistingGroup();
		});
	}
	
	/*
	 * adding new members to existing group functions
	 */
	function generateTreeToAddMembersToExistingGroup(){
		$.ajax({
			type : 'POST',
			url : 'lider/user/getUsers',
			dataType : 'json',
			success : function(data) {
				 var source =
				  {
				      dataType: "json",
				      dataFields: [
				           { name: "name", type: "string" },
				           { name: "online", type: "string" },
				           { name: "uid", type: "string" },
				           { name: "type", type: "string" },
				           { name: "cn", type: "string" },
				           { name: "ou", type: "string" },
				           { name: "parent", type: "string" },
				           { name: "distinguishedName", type: "string" },
				           { name: "hasSubordinates", type: "string" },
				           { name: "expandedUser", type: "string" },
				           { name: "entryUUID", type: "string" },
				           { name: "attributes", type: "array" },
				           { name: "attributesMultiValues", type: "array" },
				           { name: "childEntries", type: "array" }
				      ],
				      hierarchy:
				          {
				              root: "childEntries"
				          },
				      localData: data,
				      id: "entryUUID"
				  };
				 //create user tree grid
				 createTreeToAddMembersToExistingGroup(source);
			},
		    error: function (data, errorThrown) {
		    	$.notify("Kullanıcılar getirilirken hata oluştu.", "error");
		    }
		});
	}

	function createTreeToAddMembersToExistingGroup(source) {
		$("#selectConsoleUserTreeGrid").jqxTreeGrid('destroy');
		$("#selectConsoleUserTreeDiv").append('<div id="selectConsoleUserTreeGrid"></div> ');
		var dataAdapter = new $.jqx.dataAdapter(source, {
			loadComplete: function () {
		    }
		});
		
		var getLocalization = function () {
			var localizationobj = {};
	        localizationobj.filterSearchString = "Ara :";
	        return localizationobj;
		};
		// create jqxTreeGrid.
		$("#selectConsoleUserTreeGrid").jqxTreeGrid(
		{
			width: '100%',
			source: dataAdapter,
			altRows: true,
			sortable: true,
			columnsResize: true,
			filterable: true,
			hierarchicalCheckboxes: true,
			pageable: true,
			pagerMode: 'default',
			checkboxes: false,
			selectionMode: "singleRow",
			filterMode: "simple",
			localization: getLocalization(),
			pageSize: 50,
			pageSizeOptions: ['15', '25', '50'],
			icons: function (rowKey, dataRow) {
			var level = dataRow.level;
			if(dataRow.type == "USER"){
				return "img/checked-user-32.png";
			}
			else return "img/folder.png";
			},
			ready: function () {
				var allrows =$("#selectConsoleUserTreeGrid").jqxTreeGrid('getRows');
				if(allrows.length==1){
					var row=allrows[0];
					if(row.childEntries==null ){
						$("#selectConsoleUserTreeGrid").jqxTreeGrid('addRow', row.entryUUID+"1", {}, 'last', row.entryUUID);
					}
				}
		    	$("#selectConsoleUserTreeGrid").jqxTreeGrid('collapseAll'); 
		    }, 
		    rendered: function () {
		   	},
		   	columns: [{ text: "Kullanıcılar", align: "center", dataField: "name", width: '100%' }]  	
		});

		$('#selectConsoleUserTreeGrid').on('rowExpand', function (event) {
			var args = event.args;
			var row = args.row;
		    if(row.expandedUser == "FALSE") {
		    	var nameList=[];
		    	for (var m = 0; m < row.records.length; m++) {
		    		var childRow = row.records[m];
		    		nameList.push(childRow.uid);      
				}
			      
		    	for (var k = 0; k < nameList.length; k++) {
		    		// get a row.
		    		var childRowname = nameList[k];
					$("#selectConsoleUserTreeGrid").jqxTreeGrid('deleteRow', childRowname); 
		    	}  
				$.ajax({
					type : 'POST',
					url : 'lider/ldap/getOuDetails',
					data : 'uid=' + row.distinguishedName + '&type=' + row.type
							+ '&name=' + row.name + '&parent=' + row.parent,
					dataType : 'text',
					success : function(ldapResult) {
						var childs = jQuery.parseJSON(ldapResult);
						for (var m = 0; m < childs.length; m++) {
							// get a row.
							var childRow = childs[m];
							$("#selectConsoleUserTreeGrid").jqxTreeGrid('addRow', childRow.entryUUID, childRow, 'last', row.entryUUID);
							//$("#createNewUserGroupTreeGridUser").jqxTreeGrid('checkRow', row.name);
							if(childRow.hasSubordinates=="TRUE"){
								$("#selectConsoleUserTreeGrid").jqxTreeGrid('addRow', childRow.entryUUID+"1" , {}, 'last', childRow.entryUUID); 
							}
							$("#selectConsoleUserTreeGrid").jqxTreeGrid('collapseRow', childRow.entryUUID);
						}
						row.expandedUser = "TRUE";
					},
				    error: function (data, errorThrown) {
				    	$.notify("Klasör bilgisi getirilirken hata oluştu.", "error");
				    }
				});
	    	}
		});
		
		$('#selectConsoleUserTreeGrid').on('rowSelect', function (event) {
			var args = event.args;
			var row = args.row;
			var name= row.name;
			selectedDN = row.distinguishedName;
			selectedEntryUUID = row.entryUUID;
			selectedName = row.name;
			
			if(row.type == "ORGANIZATIONAL_UNIT") {
				$('#btnGiveConsoleAccessToSelectedUser').prop('disabled', true);
				$('#alreadyConsoleUser').html("");
			} else {
				//check if user already has role for console
				var selectedRows = $("#selectConsoleUserTreeGrid").jqxTreeGrid('getSelection');
				var selectedRowData=selectedRows[0];
				var isUserAlreadyConsoleUser = false;
				if(selectedRowData.priviliges != null) {
					for(var i = 0; i< selectedRowData.priviliges.length; i++) {
						if(selectedRowData.priviliges[i] == "ROLE_USER") {
							isUserAlreadyConsoleUser = true;
						}
					}
				}
				if(isUserAlreadyConsoleUser) {
					$('#alreadyConsoleUser').html("<br>Seçili kullanıcının konsol yetkisi bulunmaktadır. Lütfen başka bir kullanıcı seçiniz.");
					$('#btnGiveConsoleAccessToSelectedUser').prop('disabled', true);
				} else {
					$('#alreadyConsoleUser').html("");
					$('#btnGiveConsoleAccessToSelectedUser').prop('disabled', false);
				}
			}
		});
	}

	function btnGiveConsoleAccessToSelectedUserClicked() {
		if(selectedDN != "") {
			var params = {
				    "dn": selectedDN,
				    "roles": "ROLE_USER"
				};
			$.ajax({ 
			    type: 'POST', 
			    url: "/settings/add/role",
			    dataType: 'json',
			    data: params,
			    success: function (data) { 
					$.notify("Kullanıcıya konsol erişim yetkisi verildi.", "success");
					//get selected data and update it with new data result from service call
					getConsoleUsers();
					$('#genericModal').trigger('click');
			    },
			    error: function (data, errorThrown) {
			    	$.notify("Kullanıcıya konsol erişim yetkisi verilirken hata oluştu.", "error");
			    }
			});
		} else {
			$.notify("Lütfen bir kullanıcı seçiniz.", "error");
			return;
		}
	}

	
	function getConfigurationParams() {
		$.ajax({ 
		    type: 'GET', 
		    url: "/settings/configurations",
		    dataType: 'json',
		    success: function (data) { 
		    	if(data != null) {
		    		//set ldap configuration
		    		setAttributes(data);
		    		if((data.adDomainName != null && data.adDomainName != "") &&
		    				(data.adIpAddress != null && data.adIpAddress != "") &&
		    				(data.adAdminUserName != null && data.adAdminUserName != "") &&
		    				(data.adAdminPassword != null && data.adAdminPassword != "") &&
		    				(data.adAdminPassword != null && data.adAdminPassword != "") &&
		    				(data.adPort != null && data.adPort != "")) {
		    				$(".adSettings").show();
		    				$("#checkboxDiv").hide();
		    		} else {
	    				$(".adSettings").hide();
	    				$("#checkboxDiv").show();
		    		}
		    	} else {
		    		$.notify("Ayarlar getirilirken hata oluştu. Lütfen tekrar deneyiniz.", "error");
		    	}
		    },
		    error: function (data, errorThrown) {
		    	$.notify("Ayarlar getirilirken hata oluştu. Lütfen tekrar deneyiniz.", "error");
		    }
		});
	}
	
	function setAttributes(data) {
		//set LDAP configuration
		$('#ldapServerAddress').val(data.ldapServer);
		$('#ldapServerPort').val(data.ldapPort);
		$('#ldapRootDN').val(data.ldapRootDn);
		$('#ldapUserDN').val(data.ldapUsername);
		$('#ldapUserPassword').val(data.ldapPassword);
		$('#agentDN').val(data.agentLdapBaseDn);
		$('#peopleDN').val(data.userLdapBaseDn);
		$('#groupDN').val(data.groupLdapBaseDn);
		$('#computerGroupDN').val(data.ahenkGroupLdapBaseDn);
		$('#userGroupDN').val(data.userGroupLdapBaseDn);
		$('#sudoGroupDN').val(data.userLdapRolesDn);
		
		//set active directory configuration if exists
		if((data.adDomainName != null && data.adDomainName != "") &&
		    				(data.adIpAddress != null && data.adIpAddress != "") &&
		    				(data.adAdminUserName != null && data.adAdminUserName != "") &&
		    				(data.adAdminPassword != null && data.adAdminPassword != "") &&
		    				(data.adAdminPassword != null && data.adAdminPassword != "") &&
		    				(data.adPort != null && data.adPort != "")) {
			$('#adIpAddress').val(data.adIpAddress);
			$('#adPort').val(data.adPort);
			$('#adDomainName').val(data.adDomainName);
			$('#adAdminUserName').val(data.adAdminUserName);
			$('#adAdminPassword').val(data.adAdminPassword);
			$('#adHostName').val(data.adHostName);
		} 
		
		//set XMPP configuration
		$('#XMPPServerAddress').val(data.xmppHost);
		$('#XMPPServerPort').val(data.xmppPort);
		$('#XMPPUserName').val(data.xmppUsername);
		$('#XMPPUserPassword').val(data.xmppPassword);
		$('#XMPPResourceName').val(data.xmppResource);
		$('#XMPPServiceName').val(data.xmppServiceName);
		$('#XMPPRetryConnectionCount').val(data.xmppMaxRetryConnectionCount);
		$('#XMPPPacketReplayTimeout').val(data.xmppPacketReplayTimeout);
		$('#XMPPPingTimeout').val(data.xmppPingTimeout);
		
		//set file server configuration
		$('#fileTransferType').val(data.fileServerProtocol);
		$('#fileServerAddress').val(data.fileServerHost);
		$('#fileServerPort').val(data.fileServerPort);
		$('#fileServerUserName').val(data.fileServerUsername);
		$('#fileServerUserPassword').val(data.fileServerPassword);
	}
	function removeDisableClass(type) {
		if(type == 'ldap') {
			//remove disabled attribute from editableLDAP class
			$('.editableLDAP').prop('disabled', false);
			$('.editableAD').prop('disabled', false);
			//change button name and onClick event to save
			 $("#editLDAPAttributes").html("Değişiklikleri Kaydet");
			 $("#editLDAPAttributes").attr("onclick","saveChanges('ldap')");
		} else if(type == 'xmpp') {
			//remove disabled attribute from editableXMPP class
			$('.editableXMPP').prop('disabled', false);
			//change button name and onClick event to save
			 $("#editXMPPAttributes").html("Değişiklikleri Kaydet");
			 $("#editXMPPAttributes").attr("onclick","saveChanges('xmpp')");
		} else if(type == 'fileServer') {
			//remove disabled attribute from editableFileServer class
			$('.editableFileServer').prop('disabled', false);
			//change button name and onClick event to save
			 $("#editFileServerAttributes").html("Değişiklikleri Kaydet");
			 $("#editFileServerAttributes").attr("onclick","saveChanges('fileServer')");
		}

		
	}
	function saveChanges(type) {
		if(type == 'ldap') {
			if($('#ldapServerAddress').val() != ""
					&& $('#ldapServerPort').val() != ""
					&& $('#ldapUserDN').val() != ""
					&& $('#ldapUserPassword').val() != "" ) {
				var params = {
					    "ldapServer" : $('#ldapServerAddress').val(),
					    "ldapPort": $('#ldapServerPort').val(),
					    "ldapUsername": $('#ldapUserDN').val(),
					    "ldapPassword": $('#ldapUserPassword').val(),
					    "adIpAddress": $('#adIpAddress').val(),
					    "adPort": $('#ldapUserPassword').val(),
					    "adDomainName": $('#adDomainName').val(),
					    "adAdminUserName": $('#adAdminUserName').val(),
					    "adAdminPassword": $('#adAdminPassword').val(),
					    "adHostName": $('#adHostName').val()
					};
				$.ajax({ 
				    type: 'POST', 
				    url: "/settings/update/ldap",
				    dataType: 'json',
				    data: params,
				    success: function (data) { 
				    	if(data != null) {
				    		$.notify("LDAP sunucu bilgileri başarıyla güncellendi. Şimdi tekrar giriş yapabilmeniz için giriş ekranına yönlendirileceksiniz.", "success");
				    		//redirect to login
				    		setTimeout( function() 
			   					{
			   						window.location.replace("/logout")
			   					}, 1000);
				    		
				    	} else {
				    		$.notify("LDAP sunucu bilgileri güncellenirken hata oluştu. Lütfen tekrar deneyiniz.", "error");
				    	}
				    },
				    error: function (data, errorThrown) {
				    	$.notify("LDAP sunucu bilgileri güncellenirken hata oluştu. Lütfen tekrar deneyiniz.", "error");
				    }
				});
			} else {
				$.notify("Lütfen boş alanları doldurunuz.", "error");
			}

		} else if(type == 'xmpp') {
			var params = {
					"xmppHost": $('#XMPPServerAddress').val(),
					"xmppPort": $('#XMPPServerPort').val(),
					"xmppUsername": $('#XMPPUserName').val(),
					"xmppPassword": $('#XMPPUserPassword').val(),
					"xmppMaxRetryConnectionCount": $('#XMPPRetryConnectionCount').val(),
					"xmppPacketReplayTimeout": $('#XMPPPacketReplayTimeout').val(),
					"xmppPingTimeout": $('#XMPPPingTimeout').val()
				};
			$.ajax({ 
			    type: 'POST', 
			    url: "/settings/update/xmpp",
			    dataType: 'json',
			    data: params,
			    success: function (data) { 
			    	if(data != null) {
			    		$.notify("XMPP sunucu bilgileri başarıyla güncellendi.", "success");
			    	} else {
			    		$.notify("XMPP sunucu bilgileri güncellenirken hata oluştu. Lütfen tekrar deneyiniz.", "error");
			    	}
			    },
			    error: function (data, errorThrown) {
			    	$.notify("XMPP sunucu bilgileri güncellenirken hata oluştu. Lütfen tekrar deneyiniz.", "error");
			    }
			});
		} else if(type == 'fileServer') {
			var params = {
					"fileTransferType": $('#fileTransferType').val(),
					"fileServerAddress": $('#fileServerAddress').val(),
					"fileServerUsername": $('#fileServerUserName').val(),
					"fileServerPassword": $('#fileServerUserPassword').val(),
					"fileServerPort": $('#fileServerPort').val()
				};
			$.ajax({ 
			    type: 'POST', 
			    url: "/settings/update/fileServer",
			    dataType: 'json',
			    data: params,
			    success: function (data) { 
			    	if(data != null) {
			    		$.notify("Dosya sunucusu bilgileri başarıyla güncellendi.", "success");
			    	} else {
			    		$.notify("Dosya sunucusu bilgileri güncellenirken hata oluştu. Lütfen tekrar deneyiniz.", "error");
			    	}
			    },
			    error: function (data, errorThrown) {
			    	$.notify("Dosya sunucusu bilgileri güncellenirken hata oluştu. Lütfen tekrar deneyiniz.", "error");
			    }
			});
		}
	}
</script>
<div class="main-card mb-3 card h-100" style="margin: 18px;" id="divSettings">
	<div class="card-body">
		<div class="card-body">
			<h5 class="card-title">Ayarlar</h5>
			<ul class="nav nav-tabs">
				<li class="nav-item"><a data-toggle="tab" href="#tab-users"
					class="active nav-link">Konsol Kullanıcı Ayarları</a></li>
				<li class="nav-item"><a data-toggle="tab" href="#tab-roles"
					class="nav-link">Rol Tanımları</a></li>
				<li class="nav-item"><a data-toggle="tab" href="#tab-ldap"
					class="nav-link">LDAP Ayarları</a></li>
				<li class="nav-item"><a data-toggle="tab" href="#tab-xmpp"
					class="nav-link">XMPP Ayarları</a></li>
				<li class="nav-item"><a data-toggle="tab" href="#tab-file-server"
					class="nav-link">Dosya Sunucusu Ayarları</a></li>
				<li class="nav-item"><a data-toggle="tab" href="#tab-other-settings"
					class="nav-link">Diğer Ayarlar</a></li>
			</ul>
			<div class="tab-content">
				<div class="tab-pane active" id="tab-users" role="tabpanel">
					<div class="col-12">
						<div class="form-row">
							<div class="col-6">
								<div class="mr-5">
									<div class="col-12 p-0 m-0 mb-2">
										<div class="form-row">
											<div class="col-6">
												<h6>Mevcut Konsol Kullanıcıları</h6>
											</div>
											<div class="col-6">
												<button class="btn btn-primary pull-right" id="btnAddNewConsoleUser" data-toggle="modal" data-target="#genericModal"
													type="button" onclick="btnAddNewConsoleUserClicked()">Konsol Kullanıcısı Ekle</button>
											</div>
										</div>
									</div>
									<table class="table table-bordered table-hover table-sm">
										<thead>
											<tr>
												<th style="width: 6%">#</th>
												<th style="width: 20%">UID</th>
												<th style="width: 64%">Kayıt DN</th>
												<th style="width: 10%"></th>
											</tr>
										</thead>
										<tbody id="existingUsers">
											<tr><td colspan="100%" class="text-center">Sonuç Bulunamadı</td></tr>
										</tbody>
									</table>
								</div>
							</div>
							<div class="col-6">
								<div class="mr-1">
									<div class="col-12 p-0 m-0 mb-2">
										<div class="form-row">
											<div class="col-10">
												<h6 id="headerForSelectedUserRoles"></h6>
											</div>
											<div class="col-2">
												<button class="btn btn-primary pull-right" id="btnAddNewConsoleUser" 
													type="button" onclick="btnAddNewRoleClicked()">Yeni Rol Ekle</button>
											</div>
										</div>
									</div>
									<table class="table table-bordered table-hover table-sm">
										<thead>
											<tr>
												<th style="width: 6%">#</th>
												<th style="width: 93%">Rol Adı</th>
												<th style="width: 11%"></th>
											</tr>
										</thead>
										<tbody id="userRoles">
											<tr><td colspan="100%" class="text-center">Sonuç Bulunamadı</td></tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="tab-pane" id="tab-roles" role="tabpanel">
					<h5>Rol Tanımları</h5>
				</div>
				<div class="tab-pane" id="tab-ldap" role="tabpanel">
					<div class="col-md-12">
						<h5>LDAP Sunucusu Bilgileri</h5>
						<!-- row 1 -->
						<div class="form-row">
							<div class="col-md-4">
								<div class="position-relative form-group">
									<label for="labelLdapServerAddress" class="control-label">LDAP Sunucu Adresi</label>
									<input name="ldapServerAddress" id="ldapServerAddress" required="required"
										type="text" placeholder="10.10.56.145" class="form-control editableLDAP"  disabled>
								</div>
							</div>
							<div class="col-md-2">
								<div class="position-relative form-group">
									<label for="labelLdapServerPort" class="control-label">Port</label>
									<input name="ldapServerPort" id="ldapServerPort" required="required"
										type="text" value="389" placeholder="389" class="form-control editableLDAP" disabled>
								</div>
							</div>
							<div class="col-md-6">
								<div class="position-relative form-group">
									<label for="labelLdapRootDN" class="control-label">Domain Adı</label>
									<input name="ldapRootDN" id="ldapRootDN" required="required"
										type="text" placeholder="dc=liderahenk,dc=org" class="form-control" disabled>
								</div>
							</div>
						</div>
						
						<!-- row 2 -->
						<div class="form-row">
							<div class="col-md-6">
								<div class="position-relative form-group">
									<label for="labelLdapServerAddress" class="control-label">LDAP Kullanıcı DN</label>
									<input name="ldapUserDN" id="ldapUserDN" required="required"
										type="text" placeholder="cn=admin,dc=liderahenk,dc=org" class="form-control editableLDAP" disabled>
								</div>
							</div>
							<div class="col-md-6">
								<div class="position-relative form-group">
									<label for="labelLdapUserPassword" class="control-label">LDAP Kullanıcı Şifresi</label>
									<input name="ldapUserPassword" id="ldapUserPassword" required="required"
										type="password" class="form-control editableLDAP" disabled>
								</div>
							</div>
						</div>
						
						<!-- row 3 -->
						<div class="form-row">
							<div class="col-md-6">
								<div class="position-relative form-group">
									<label for="labelLdapServerAddress" class="">Ahenk Klasörü</label>
									<input name="agentDN" id="agentDN"
										value="ou=Agents,dc=liderahenk,dc=org" class="form-control" disabled>
								</div>
							</div>
							<div class="col-md-6">
								<div class="position-relative form-group">
									<label for="labelPeopleDN" class="">Kullanıcı Klasörü</label>
									<input name="peopleDN" id="peopleDN"
										value="ou=Users,dc=liderahenk,dc=org" class="form-control" disabled>
								</div>
							</div>
						</div>
						
						<!-- row 4 -->
						<div class="form-row">
							<div class="col-md-6">
								<div class="position-relative form-group">
									<label for="labelGroupDN" class="">Grup Klasörü</label>
									<input name="groupDN" id="groupDN"
										value="ou=Groups,dc=liderahenk,dc=org" class="form-control" disabled>
								</div>
							</div>
							<div class="col-md-6">
								<div class="position-relative form-group">
									<label for="labelComputerGroupDN" class="">İstemci Grubu Klasörü</label>
									<input name="computerGroupDN" id="computerGroupDN"
										value="ou=Agent,ou=Groups,dc=liderahenk,dc=org" class="form-control" disabled>
								</div>
							</div>
						</div>
						
						<!-- row 5 -->
						<div class="form-row">
							<div class="col-md-6">
								<div class="position-relative form-group">
									<label for="labelUserGroupDN" class="">Kullanıcı Grubu Klasörü</label>
									<input name="userGroupDN" id="userGroupDN"
										value="ou=User,ou=Groups,dc=liderahenk,dc=org" class="form-control" disabled>
								</div>
							</div>
							<div class="col-md-6">
								<div class="position-relative form-group">
									<label for="labelSudoGroupDN" class="">Yetki Grubu Klasörü(Sudo)</label>
									<input name="sudoGroupDN" id="sudoGroupDN"
										value="ou=Role,ou=Groups,dc=liderahenk,dc=org" class="form-control" disabled>
								</div>
							</div>
							<div class="col-md-12">
								<div class="custom-checkbox custom-control" id="checkboxDiv">
								<input type="checkbox" id="cbShowADSettings" class="custom-control-input">
									<label class="custom-control-label" for="cbShowADSettings">
										Aktif Dizin ayarları (Hibrit yapılı kurulumlar için bu ayarlar yapılmalıdır)
									</label>
								</div>
							</div>

							<!-- AD Settings -->
							<div class="col-md-4 adSettings">
								<div class="position-relative form-group">
									<label for="labelAdIpAddress" class="control-label">AD Sunucu Adresi</label>
									<input name="adIpAddress" id="adIpAddress" required="required"
										type="text" placeholder="10.10.56.148" class="form-control editableAD"  disabled>
								</div>
							</div>
							<div class="col-md-2 adSettings">
								<div class="position-relative form-group">
									<label for="labelAdPort" class="control-label">AD Port</label>
									<input name="adPort" id="adPort" required="required"
										type="text" placeholder="1025" class="form-control editableAD" disabled>
								</div>
							</div>
							<div class="col-md-6 adSettings">
								<div class="position-relative form-group">
									<label for="labelAdDomainName" class="control-label">AD Domain Adı</label>
									<input name="adDomainName" id="adDomainName" required="required"
										type="text" placeholder="liderahenk.tr" class="form-control editableAD" disabled>
								</div>
							</div>
							<div class="col-md-6 adSettings">
								<div class="position-relative form-group">
									<label for="labelAdAdminUserName" class="control-label">AD Yönetici Kullanıcı Adı</label>
									<input name="adAdminUserName" id="adAdminUserName" required="required"
										type="text" placeholder="Administrator" class="form-control editableAD" disabled>
								</div>
							</div>
							<div class="col-md-6 adSettings">
								<div class="position-relative form-group">
									<label for="labelAdAdminPassword" class="control-label">AD Yönetici Şifresi</label>
									<input name="adAdminPassword" id="adAdminPassword" required="required"
										type="password" class="form-control editableAD" disabled>
								</div>
							</div>
							<div class="col-md-6 adSettings">
								<div class="position-relative form-group">
									<label for="labelAdHostName" class="control-label">AD Host Adresi</label>
									<input name="adHostName" id="adHostName" required="required"
										type="text" placeholder="pardus.liderahenk.org" class="form-control editableAD" disabled>
								</div>
							</div>
							<div class="col-md-12">
								<div class="position-relative form-group">
									<button class="btn btn-primary pull-right" id="editLDAPAttributes" 
										type="button" onclick="removeDisableClass('ldap')">Düzenle</button>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="tab-pane" id="tab-xmpp" role="tabpanel">
					<div class="col-md-12">
						<h5>XMPP Sunucusu Bilgileri</h5>
						<!-- row 1 -->
						<div class="form-row">
							<div class="col-md-6">
								<div class="position-relative form-group">
									<label for="labelXMPPServerAddress" class="control-label">XMPP Sunucu Adresi</label>
									<input name="XMPPServerAddress" id="XMPPServerAddress" required="required"
										type="text" value="10.10.56.146" class="form-control editableXMPP" disabled>
								</div>
							</div>
							<div class="col-md-6">
								<div class="position-relative form-group">
									<label for="labelXMPPServerPort" class="control-label">Port</label>
									<input name="XMPPServerPort" id="XMPPServerPort" required="required"
										type="text" value="5222" placeholder="5222" class="form-control editableXMPP" disabled>
								</div>
							</div>
						</div>
						<!-- row 2 -->
						<div class="form-row">
							<div class="col-md-6">
								<div class="position-relative form-group">
									<label for="labelXMPPUserName" class="control-label">XMPP Kullanıcı Adı</label>
									<input name="XMPPUserName" id="XMPPUserName" required="required"
										type="text" value="lider_sunucu" class="form-control editableXMPP" disabled>
								</div>
							</div>
							<div class="col-md-6">
								<div class="position-relative form-group">
									<label for="labelXMPPUserPassword" class="control-label">XMPP Kullanıcı Şifresi</label>
									<input name="XMPPUserPassword" id="XMPPUserPassword" required="required"
										type="password" class="form-control editableXMPP" disabled>
								</div>
							</div>
						</div>
						<!-- row 3 -->
						<div class="form-row">
							<div class="col-md-6">
								<div class="position-relative form-group">
									<label for="labelXMPPResource" class="control-label">XMPP Kaynak Adı</label>
									<input name="XMPPResourceName" id="XMPPResourceName" required="required"
										type="text" value="Smack" class="form-control" disabled>
								</div>
							</div>
							<div class="col-md-6">
								<div class="position-relative form-group">
									<label for="labelXMPPServiceName" class="control-label">XMPP Servis Adı</label>
									<input name="XMPPServiceName" id="XMPPServiceName" required="required"
										type="text" class="form-control" value="im.liderahenk.org" disabled>
								</div>
							</div>
						</div>
						<!-- row 4 -->
						<div class="form-row">
							<div class="col-md-4">
								<div class="position-relative form-group">
									<label for="labelXMPPRetryConnectionCount" class="control-label">XMPP Retry Connection Count</label>
									<input name="XMPPRetryConnectionCount" id="XMPPRetryConnectionCount" required="required"
										type="text" class="form-control editableXMPP" placeholder="5" disabled>
								</div>
							</div>
							<div class="col-md-4">
								<div class="position-relative form-group">
									<label for="labelXMPPPacketReplayTimeout" class="control-label">XMPP Packet Replay Timeout</label>
									<input name="XMPPPacketReplayTimeout" id="XMPPPacketReplayTimeout" required="required"
										type="text" class="form-control editableXMPP" placeholder="10000" disabled>
								</div>
							</div>
							<div class="col-md-4">
								<div class="position-relative form-group">
									<label for="labelXMPPPingTimeout" class="control-label">XMPP Ping Timeout</label>
									<input name="XMPPPingTimeout" id="XMPPPingTimeout" required="required"
										type="text" class="form-control editableXMPP" placeholder="300" disabled>
								</div>
							</div>
							<div class="col-md-12">
								<div class="position-relative form-group">
									<button class="btn btn-primary pull-right" id="editXMPPAttributes" 
										onclick="removeDisableClass('xmpp')" type="button">Düzenle</button>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="tab-pane" id="tab-file-server" role="tabpanel">
					<div class="col-md-12">
						<h5>Dosya Sunucusu Bilgileri</h5>
						<!-- row 1 -->
						<div class="form-row">
							<div class="col-md-2">
								<div class="position-relative form-group">
									<label for="labelFileTransferType" class="">Transfer Tipi</label>
						  			<select class="form-control editableFileServer" id="fileTransferType" name="fileTransferType" disabled>
										<option value="SSH">SSH</option>
										<option value="HTTP">HTTP</option>
										<option value="TORRENT">TORRENT</option>
						  			</select>
								</div>
							</div>
							<div class="col-md-6">
								<div class="position-relative form-group">
									<label for="labelfileServerAddress" class="control-label">Dosya Sunucusu Adresi</label>
									<input name="fileServerAddress" id="fileServerAddress" required="required"
										type="text" placeholder="10.10.56.147" class="form-control editableFileServer" disabled>
								</div>
							</div>
							<div class="col-md-4">
								<div class="position-relative form-group">
									<label for="labelFileServerPort" class="control-label">Port</label>
									<input name="fileServerPort" id="fileServerPort" required="required"
										type="text" placeholder="22" class="form-control editableFileServer" disabled>
								</div>
							</div>
						</div>
						<!-- row 2 -->
						<div class="form-row">
							<div class="col-md-6">
								<div class="position-relative form-group">
									<label for="labelFileServerUserName" class="control-label">Kullanıcı Adı</label>
									<input name="fileServerUserName" id="fileServerUserName" required="required"
										type="text" placeholder="lider" class="form-control editableFileServer" disabled>
								</div>
							</div>
							<div class="col-md-6">
								<div class="position-relative form-group">
									<label for="labelFileServerUserPassword" class="control-label">Kullanıcı Şifresi</label>
									<input name="fileServerUserPassword" id="fileServerUserPassword" required="required"
										type="password" class="form-control editableFileServer" disabled>
								</div>
							</div>
							<div class="col-md-12">
								<div class="position-relative form-group">
									<button class="btn btn-primary pull-right" id="editFileServerAttributes" 
										onclick="removeDisableClass('fileServer')" type="button">Düzenle</button>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="tab-pane" id="tab-other-settings" role="tabpanel">
					<h5>Diğer Ayarlar</h5>
				</div>
			</div>
		</div>
	</div>
</div>