<script type="text/javascript" src="js/sudo-groups.js"></script>

	<div class="col-lg-2">
				<div class="d-block dropdown" style="margin: 5px;">
                    <button type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="btn-shadow dropdown-toggle btn btn-info">
                        <span class="btn-icon-wrapper pr-2">
                            <i class="fa fa-bars fa-w-20"></i>
                        </span>
                        İşlem Seç
                    </button>
                    <div tabindex="-1" id="operationDropDown" role="menu" aria-hidden="true" class="dropdown-menu dropdown-menu-left">
                    </div>
                </div>
			    <div id="treeGridSudoGroupsDiv">
				    <div id="treeGridSudoGroups"></div>
			    </div>
	</div>
	<div class="col-lg-10 white" style="height: 1200px;">
		<div>
			<div class="card-header card-header-tab-animation">
				<ul class="nav nav-justified">
					<li class="nav-item">
						<a role="tab" class="nav-link active"
							id="entry-info" data-toggle="tab" href="#tab-entry-info"> 
							<span>Kayıt Bilgisi</span>
						</a>
					</li>
					<li class="nav-item">
						<a role="tab" class="nav-link"
							id="member-info" data-toggle="tab" href="#tab-member-info"> 
							<span>Grup Üyeleri</span>
						</a>
					</li>
				</ul>

			</div>
			<div class="card-body">
				<div class="tab-content">
					<div class="tab-pane active" id="tab-entry-info" role="tabpanel">
						<p id="selectedDnInfo"class="mb-0"></p>
						<div id="ldapAttrInfoHolder"></div>
					</div>
					<div class="tab-pane" id="tab-member-info" role="tabpanel">
						<p id="memberTabSelectedDNInfo"class="mb-0"></p>
						<div>
							<table class="mb-0 table table-bordered">
								<thead>
									<tr>
										<th style="width: 10%" class="text-center">#</th>
										<th style="width: 80%">Üye DN</th>
										<th style="width: 10%"></th>
									</tr>
								</thead>
								<tbody id="bodyMembers">
									<tr><td colspan="100%" class="text-center">Üye bulunamadı</td></tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
