<script type="text/javascript" src="js/sudo-groups.js"></script>

<div class="app-page-title">
	<div class="page-title-wrapper">
		<div class="page-title-heading">
			<div class="page-title-icon">
				<i class="pe-7s-drawer icon-gradient bg-happy-itmeo"> </i>
			</div>
			<div>
				Yetkili Kullanıcı Yönetimi
				<div class="page-title-subheading">Sistemde bulunan
					yetkili kullanıcıları listeleyebilir, kullanıcılarınıza yetki(SUDO) verebilir yetkileri yönetebilirsiniz.</div>
			</div>
		</div>
		<div class="page-title-actions">

			<div class="d-inline-block dropdown">
				<button type="button" data-toggle="dropdown" aria-haspopup="true"
					aria-expanded="false"
					class="btn-shadow dropdown-toggle btn btn-info">
					<span class="btn-icon-wrapper pr-2 opacity-7"> <i
						class="fa fa-business-time fa-w-20"> </i>
					</span> <span class="btn-icon-wrapper pr-2 "> </span> Politika Grupları
				</button>

			</div>

			<button type="button" id="selectedEntrySize"
				data-target="#selectedEntryListModal" data-toggle="modal"
				data-placement="bottom" class="btn-shadow mr-3 btn btn-dark">
				<i class="fa fa-star"></i>
			</button>
		</div>
	</div>
</div>

<div class="row">

	<div class="col-lg-4">
		<div class="main-card mb-3 card">
			<div class="card-header">
				<i class="header-icon lnr-license icon-gradient bg-plum-plate"></i>

				<div>
					<button id="userInfo" type="button"
						class="btn-shadow btn btn-info" title="Kullanıcı Detay" ><i class="fa fa-info"></i></button>
						
					<button id="addUser" type="button"
						class="btn-shadow btn btn-info" title="Kullanıcı Ekle" ><i class="fa fa-plus"></i></button>
						
					<button id="editUser" type="button"
						class="btn-shadow btn btn-info"   title="Kullanıcı Düzenle"><i class="fa fa-edit"></i></button>
						
					<button id="deleteUser" type="button"
						class="btn-shadow btn btn-info"   title="Kullanıcı Sil"><i class="fa fa-times"></i></button>
						
				</div>

			</div>
			<div class="card-body">
				<div id="treeGridUser"></div>
			</div>

		</div>
	</div>

	<div class="col-lg-8">
		<div class="main-card mb-3 card">
			<div class="card-header card-header-tab-animation">
				<ul class="nav nav-justified">
					<li class="nav-item">
						<a role="tab" class="nav-link active"
							id="tab-c-0" data-toggle="tab" href="#tab-animated-0"> 
							<span>Detay</span>
						</a>
					</li>
					
				</ul>

			</div>
			<div class="card-body">
				<div class="tab-content">
					<div class="tab-pane active" id="tab-animated-0" role="tabpanel">
						<p class="mb-0"></p>

					</div>
					
				</div>
			</div>
		</div>

	</div>
</div>