
<script type="text/javascript" src="js/users.js"></script>
<script type="text/javascript" src="js/oumanager.js"></script>

<div class="app-page-title">
	<div class="page-title-wrapper">
		<div class="page-title-heading">
			<div class="page-title-icon">
				<i class="pe-7s-drawer icon-gradient bg-happy-itmeo"> </i>
			</div>
			<div>
				Kullanıcı Yönetimi
				<div class="page-title-subheading">Sistemde bulunan
					kullanıcıları listeleyebilir, kullanıcılarınızı yönetebilirsiniz.</div>
			</div>
		</div>
		<div class="page-title-actions">

			<div class="d-inline-block dropdown">
				<button type="button" data-toggle="dropdown" aria-haspopup="true"
					aria-expanded="false"
					class="btn-shadow dropdown-toggle btn btn-info">
					<span class="btn-icon-wrapper pr-2 opacity-7"> <i
						class="fa fa-business-time fa-w-20"> </i>
					</span> <span class="btn-icon-wrapper pr-2 "> </span> Politika Grupları
				</button>

			</div>

			<button type="button" id="selectedEntrySize"
				data-target="#selectedEntryListModal" data-toggle="modal"
				data-placement="bottom" class="btn-shadow mr-3 btn btn-dark">
				<i class="fa fa-star"></i>
			</button>
		</div>
	</div>
</div>

<div class="row">

	<div class="col-lg-4">
		<div class="main-card mb-3 card">
			<div class="card-body">
			
						<div>
					<div class="d-inline-block dropdown">
							<button type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="btn-shadow dropdown-toggle btn btn-info">
                                            <span class="btn-icon-wrapper pr-2 opacity-7">
                                                <i class="fa fa-business-time fa-w-20"></i>
                                            </span>
                                            Kullanıcı İşlemleri
                        	</button>
                        	<div tabindex="-1" role="menu" aria-hidden="true" class="dropdown-menu dropdown-menu-left">
                                            <ul class="nav flex-column">
                                                <li class="nav-item">
                                                    <a href="#" class="nav-link" id="btnOpenOuManagerModal" data-target="#genericModal" data-toggle="modal" data-parentnode="users" >
                                                        <i class="fa fa-folder-open"> &nbsp;</i>
                                                        <span>
                                                            Klasör Ekle
                                                        </span>
                                                    </a>
                                                </li>
                                                <li class="nav-item">
                                                   <div class="dropdown-divider"></div>
                                                </li>
                                                <li class="nav-item">
                                                    <a href="#" class="nav-link" id="btnOpenAddUserModal" title="Kullanıcı Ekle" data-target="#genericModalLarge" data-toggle="modal">
                                                        <i class="fa fa-user-plus"> &nbsp;</i>
                                                        <span> Kullanıcı Ekle </span>
                                                    </a>
                                                </li>
                                                
                                                <li class="nav-item">
                                                    <a href="#" class="nav-link" id="btnOpenEditUserModal" title="Kullanıcı Düzenle" data-target="#genericModal" data-toggle="modal">
                                                        <i class="fa fa-user-md"> &nbsp;</i>
                                                        <span> Kullanıcı Düzenle </span>
                                                    </a>
                                                </li>
                                                
                                                <li class="nav-item">
                                                    <a href="#" class="nav-link" id="btnOpenDeleteUserModal" title="Kullanıcı Sil" data-target="#genericModal" data-toggle="modal">
                                                        <i class="fa fa-user-times"> &nbsp;</i>
                                                        <span> Kullanıcı Sil </span>
                                                    </a>
                                                </li>
                                                 <li class="nav-item">
                                                   <div class="dropdown-divider"></div>
                                                </li>
                                                 <li class="nav-item">
                                                    <a href="#" class="nav-link" id="btnOpenChangePasswordUserModal" title="Parola Degiştir" data-target="#genericModal" data-toggle="modal">
                                                        <i class="fa fa-user-times"> &nbsp;</i>
                                                        <span> Parola Değiştir </span>
                                                    </a>
                                                </li>
                                            </ul>
                              </div>
                    </div>
				</div>
				<hr>
				<div id="treeGridUserHolderDiv">
					<div id="treeGridUser"></div>
				</div>
			</div>
		</div>
	</div>

	<div class="col-lg-8">
		<div class="main-card mb-3 card">
			<div class="card-header card-header-tab-animation">
				<ul class="nav nav-justified">
					<li class="nav-item">
						<a role="tab" class="nav-link "
							id="tab-c-0" data-toggle="tab" href="#tab-entry-info"> 
							<span>Kullanıcı Detay</span>
						</a>
					</li>
					
				</ul>

			</div>
			<div class="card-body">
				<div class="tab-content">
					<div class="tab-pane active" id="tab-new-policy" role="tabpanel">
						<p class="mb-0"></p>
						
				
					</div>
					<div class="tab-pane" id="tab-entry-info" role="tabpanel">
					
							<h6 id="selectedDnInfo"></h6>
							<div id="ldapAttrInfoHolder"></div>
					</div>
				</div>
			</div>
		</div>

	</div>
</div>
