
<script type="text/javascript" src="js/user/users.js"></script>
<script type="text/javascript" src="js/user/ouManager.js"></script>
<script type="text/javascript" src="js/custom.js"></script>

<style type="text/css">
.userInfo {
    font-size: 13px;
}
</style>
	<div class="col-lg-2">
					<div>
							<button type="button" data-toggle="dropdown" id="btnFolderActions" aria-haspopup="true" aria-expanded="false" class="btn-shadow dropdown-toggle btn btn-info"  style="margin: 10px;">
                                            <span class="btn-icon-wrapper pr-2 opacity-7" >
                                                <i class="fa fa-business-time fa-w-20"></i>
                                            </span>
                                            Klasör İşlemleri
                        	</button>
                        	<div tabindex="-1" role="menu" aria-hidden="true" class="dropdown-menu dropdown-menu-left">
                                            <ul class="nav flex-column">
                                                <li class="nav-item">
                                                    <a href="#" class="nav-link" id="btnAddOuModal" data-target="#genericModal" data-toggle="modal" data-parentnode="users" >
                                                        <i class="fa fa-folder-open"> &nbsp;</i>
                                                        <span>
                                                            Klasör Ekle
                                                        </span>
                                                    </a>
                                                </li>
                                                <li class="nav-item">
                                                    <a href="#" class="nav-link" id="btnDeleteOuModal" data-target="#genericModal" data-toggle="modal" data-parentnode="users" >
                                                        <i class="fa fa-minus"> &nbsp;</i>
                                                        <span>
                                                            Klasör Sil
                                                        </span>
                                                    </a>
                                                </li>
                                                <li class="nav-item">
                                                    <a href="#" class="nav-link" id="btnMoveOuModal" data-target="#genericModal" data-toggle="modal" data-parentnode="users" >
                                                        <i class="fa fa-random"> &nbsp;</i>
                                                        <span>
                                                            Klasör Taşı
                                                        </span>
                                                    </a>
                                                </li>
                                                <li class="nav-item">
                                                   
                                                </li>
                                                
                                                <li class="nav-item">
                                                </li>
                                            </ul>
                              </div>
                              <a href="#" class="btn btn-info" id="btnAddUserModal" title="Kullanıcı Ekle" data-target="#genericModalLarge" data-toggle="modal">
                                    <i class="fa fa-user-plus"> &nbsp;</i>
                              </a>
				<div id="treeGridUserHolderDiv" style="margin-top: 7px;">
					
				</div>
			</div>
	</div>

	<div class="col-lg-10 white" style="height: 1200px;">
									<div>
										<div id="systemPage">
											<div class="row">
												<div class="x_panel">
									                  <div class="x_content">
									                    <div class="col-md-4 col-sm-4  profile_left">
<!-- 									                      <div class="profile_img"> -->
<!-- 									                        <div id="crop-avatar"> -->
<!-- 									                          <img class="img-responsive avatar-view" src="images/user_icon.png" width="90" height="70" alt="Avatar" title="Change the avatar"> -->
<!-- 									                        </div> -->
<!-- 									                      </div> -->
									                      <hr>
									                      <h3 id="userName"></h3>
									                      <hr>
									
									                      <ul class="list-unstyled user_data">
									                        <li><i class="fa fa-address-card user-profile-icon"></i> &nbsp; <a class="userInfo" id="userId" href="#"></a>
									                        </li>
									                        <li><i class="fa fa-map-marker user-profile-icon"></i> &nbsp; <a class="userInfo"  id="userAddress" href="#"></a>
									                        </li>
									                        <li>
									                          <i class="fas fa-phone user-profile-icon"></i> &nbsp; <a class="userInfo"  id="userPhone" href="#"></a>
									                        </li>
									                        <li>
									                          <i class="fas fa-mail-bulk user-profile-icon"></i>  &nbsp;<a class="userInfo" id="userMail" href="#"></a>
									                        </li>
									                        <li>
									                          <i class="fas fa-home user-profile-icon"></i>  &nbsp;<a class="userInfo" id="userHomeDirectory" href="#"></a>
									                        </li>
									                        <li>
									                          <i class="fas fa-clock user-profile-icon"></i>  &nbsp;<a class="userInfo" id="userCreateDate" href="#"></a>
									                        </li>
									                      </ul>
									                      <hr>
									                       <a href="#" class="btn btn-success" id="btnEditUserModal" title="Kullanıcı Düzenle" data-target="#genericModal" data-toggle="modal">
			                                                        <i class="fa fa-edit"> &nbsp; Düzenle</i>
			                                               </a>
									                       <a href="#" class="btn btn-info" id="btnMoveUserModal" title="Kullanıcıyı Taşı" data-target="#genericModal" data-toggle="modal">
		                                                        <i class="fa fa-blind"> &nbsp; Taşı</i>
		                                                   </a>
									                       <a href="#" class="btn btn-info" id="btnChangePasswordUserModal" title="Kullanıcıyı Pasif Hale Getir" data-target="#genericModal" data-toggle="modal">
		                                                        <i class="fa fa-blind"> &nbsp; Parola Düzenle</i>
		                                                   </a>
									                       <a href="#" class="btn btn-danger" id="btnDeleteUserModal" title="Kullanıcı Sil" data-target="#genericModal" data-toggle="modal">
		                                                        <i class="fa fa-minus-circle"> &nbsp; Sil</i>
		                                                    </a>
									
<!-- 									                      <a class="btn btn-success"><i class="fa fa-edit m-right-xs"></i>Düzenle</a> -->
									                      <hr>
									
<!-- 									                      <h4>  </h4> -->
<!-- 									                      <ul class="list-unstyled user_data"> -->
									                        
<!-- 									                        <li> -->
<!-- 									                          <i class="user-profile-icon">Ev Dizini : </i> -->
<!-- 									                          <span id="userHomeDirectory"></span> -->
<!-- 									                        </li> -->
<!-- 									                        <li> -->
<!-- 									                          <i class="user-profile-icon">Oluşturulma Tarihi : </i> -->
<!-- 									                          <span id="userCreateDate"></span> -->
<!-- 									                        </li> -->
									                      
									                      
<!-- 									                      </ul> -->
									
									                    </div>
									                    <div class="col-md-8 col-sm-8 ">
									                    	
									                    	<div class="col-lg-6 col-md-6"> 
									                    			<div class="main-card mb-3 card">
																			<div class="card-header">
																				<div class="col-lg-6 text-left">Login Geçmişi</div>
																			</div>
																			<div class="card-body">
																				<div id="sessionListDiv">
																				</div>
																			</div>
																	</div>
									                    	
									                    			
																	<div class="main-card mb-3 card">
																			<div class="card-header">
																				<i class="header-icon lnr-license icon-gradient bg-plum-plate"></i>
																				<div class="col-lg-6 text-left">POLİTİKA GEÇMİŞİ</div>
																				<div class="col-lg-6 text-right">
																				</div>
																			</div>
																			<div class="card-body">
																			</div>
																	</div>
									                    	
									                    	</div>
									                    	<div class="col-lg-6 col-md-6"> 
									                    			<div class="main-card mb-3 card">
																			<div class="card-header">
																				<i class="header-icon lnr-license icon-gradient bg-plum-plate"></i>
																				<div class="col-lg-6 text-left">Parola Politikası</div>
																				<div class="col-lg-6 text-right">
																					<button id="btnSetPasswordPolicyModal" type="button" data-target="#genericModal" data-toggle="modal" title="Politika Ata" class="btn-shadow btn btn-link">Politika Ata</button>
																				</div>
																			</div>
																			<div class="card-body">
																				<span id="userPasswordPolicy"></span>
																				<div id="userPolicyDetails"></div>
																			</div>
																	</div>
																	
																	<div class="main-card mb-3 card">
																			<div class="card-header">
																				<i class="header-icon lnr-license icon-gradient bg-plum-plate"></i>
																				<div class="col-lg-6 text-left">GRUPLAR</div>
																				<div class="col-lg-6 text-right">
																				</div>
																			</div>
																			<div class="card-body">
																			<div id="groupsDiv">Kullanıcı herhangi bir gruba üye değildir.</div>
																			</div>
																	</div>
									                    			
									                    			<div class="main-card mb-3 card">
																			<div class="card-header">
																				<i class="header-icon lnr-license icon-gradient bg-plum-plate"></i>
																				<div class="col-lg-6 text-left">YETKİ GRUPLARI</div>
																				<div class="col-lg-6 text-right">
																				</div>
																			</div>
																			<div class="card-body">
																			<div id="rolesDiv">Kullanıcının istemci yönetim yetki grubu bulunmamaktadir.</div>
																			</div>
																	</div>
									                    	
									                    	
									                    	</div>
									                    </div>
									                  </div>
                							</div>
												
											</div>	
										</div>
									</div>
	
<!-- 		<div class="main-card mb-3 card"> -->
<!-- 			<div class="card-header card-header-tab-animation"> -->
<!-- 				<ul class="nav nav-justified" > -->
<!-- 					<li class="nav-item"> -->
<!-- 						<a role="tab" class="nav-link " -->
<!-- 							id="tab-btn-userInfo" data-toggle="tab" href="#tab-entry-info">  -->
<!-- 							<span>Kullanıcı Detay</span> -->
<!-- 						</a> -->
<!-- 					</li> -->
<!-- 					<li class="nav-item"> -->
<!-- 						<a role="tab" class="nav-link " -->
<!-- 							id="tab-btn-userGroups" data-toggle="tab" href="#tab-user-groups">  -->
<!-- 							<span>Kullanıcı Grupları</span> -->
<!-- 						</a> -->
<!-- 					</li> -->
<!-- 					<li class="nav-item"> -->
<!-- 						<a role="tab" class="nav-link " -->
<!-- 							id="tab-btn-userRoles" data-toggle="tab" href="#tab-user-roles">  -->
<!-- 							<span>İstemci Yetki Grupları (Sudo)</span> -->
<!-- 						</a> -->
<!-- 					</li> -->
					
<!-- 				</ul> -->
<!-- 			</div> -->
<!-- 			<div class="card-body"> -->
<!-- 				<div class="tab-content"> -->
<!-- 					<div class="tab-pane" id="tab-entry-info" role="tabpanel"> -->
<!-- 							<p id="selectedDnInfo"></p> -->
<!-- 							<div id="ldapAttrInfoHolder"></div> -->
<!-- 					</div> -->
<!-- 					<div class="tab-pane" id="tab-user-groups" role="tabpanel"> -->
<!-- 							<div id="groupsDiv">Kullanıcı herhangi bir gruba üye değildir.</div> -->
<!-- 					</div> -->
<!-- 					<div class="tab-pane" id="tab-user-roles" role="tabpanel"> -->
<!-- 							<div id="rolesDiv">Kullanıcının istemci yönetim yetki grubu bulunmamaktadir.</div> -->
<!-- 					</div> -->
					
<!-- 				</div> -->
<!-- 			</div> -->
<!-- 		</div> -->

	</div>
