
<script type="text/javascript" src="js/user/users.js"></script>
<script type="text/javascript" src="js/user/ouManager.js"></script>
<script type="text/javascript" src="js/custom.js"></script>
<script type="text/javascript" >

$(document).ready(function(){
	$('.collapse-link').click();
	$('#loginCollapseLink').click();
	  });
</script>
<style type="text/css">
.userInfo {
    font-size: 13px;
}
</style>
	<div class="col-lg-2">
					<div>
							<button type="button" data-toggle="dropdown" id="btnFolderActions" aria-haspopup="true" aria-expanded="false" class="btn-shadow dropdown-toggle btn btn-info"  style="margin: 10px;">
                                            <span class="btn-icon-wrapper pr-2 opacity-7" >
                                                <i class="fa fa-business-time fa-w-20"></i>
                                            </span>
                                            Klasör İşlemleri
                        	</button>
                        	<div tabindex="-1" role="menu" aria-hidden="true" class="dropdown-menu dropdown-menu-left">
                                            <ul class="nav flex-column">
                                                <li class="nav-item">
                                                    <a href="#" class="nav-link" id="btnAddOuModal" data-target="#genericModal" data-toggle="modal" data-parentnode="users" >
                                                        <i class="fa fa-folder-open"> &nbsp;</i>
                                                        <span>
                                                            Klasör Ekle
                                                        </span>
                                                    </a>
                                                </li>
                                                <li class="nav-item">
                                                    <a href="#" class="nav-link" id="btnDeleteOuModal" data-target="#genericModal" data-toggle="modal" data-parentnode="users" >
                                                        <i class="fa fa-minus"> &nbsp;</i>
                                                        <span>
                                                            Klasör Sil
                                                        </span>
                                                    </a>
                                                </li>
                                                <li class="nav-item">
                                                    <a href="#" class="nav-link" id="btnMoveOuModal" data-target="#genericModal" data-toggle="modal" data-parentnode="users" >
                                                        <i class="fa fa-random"> &nbsp;</i>
                                                        <span>
                                                            Klasör Taşı
                                                        </span>
                                                    </a>
                                                </li>
                                                <li class="nav-item">
                                                   
                                                </li>
                                                
                                                <li class="nav-item">
                                                </li>
                                            </ul>
                              </div>
                              <a href="#" class="btn btn-info" id="btnAddUserModal" title="Kullanıcı Ekle" data-target="#genericModalLarge" data-toggle="modal">
                                    <i class="fa fa-user-plus"> &nbsp;</i>
                              </a>
				<div id="treeGridUserHolderDiv" style="margin-top: 7px;">
					
				</div>
			</div>
	</div>

	<div class="col-lg-10 white" style="height: 1200px;">
									<div>
										<div id="systemPage">
											<div class="row">
												<div class="x_panel">
									                  <div class="x_content">
									                    <div class="col-md-4 col-sm-4  profile_left">
<!-- 									                      <div class="profile_img"> -->
<!-- 									                        <div id="crop-avatar"> -->
<!-- 									                          <img class="img-responsive avatar-view" src="images/user_icon.png" width="90" height="70" alt="Avatar" title="Change the avatar"> -->
<!-- 									                        </div> -->
<!-- 									                      </div> -->
									                      <hr>
									                      <h3 id="userName"></h3>
									                      <hr>
									
									                      <ul class="list-unstyled user_data">
									                        <li><i class="fa fa-address-card user-profile-icon"></i> &nbsp; <a class="userInfo" id="userId" href="#"></a>
									                        </li>
									                        <li><i class="fa fa-map-marker user-profile-icon"></i> &nbsp; <a class="userInfo"  id="userAddress" href="#"></a>
									                        </li>
									                        <li>
									                          <i class="fas fa-phone user-profile-icon"></i> &nbsp; <a class="userInfo"  id="userPhone" href="#"></a>
									                        </li>
									                        <li>
									                          <i class="fas fa-mail-bulk user-profile-icon"></i>  &nbsp;<a class="userInfo" id="userMail" href="#"></a>
									                        </li>
									                        <li>
									                          <i class="fas fa-home user-profile-icon"></i>  &nbsp;<a class="userInfo" id="userHomeDirectory" href="#"></a>
									                        </li>
									                        <li>
									                          <i class="fas fa-clock user-profile-icon"></i>  &nbsp;<a class="userInfo" id="userCreateDate" href="#"></a>
									                        </li>
									                        <li>
									                          <i class="fas fa-info user-profile-icon"></i> &nbsp; &nbsp;<a class="userInfo" id="userAd" href="#"></a>
									                        </li>
									                      </ul>
									                      <hr>
									                       <a href="#" class="btn btn-success btn-sm" id="btnEditUserModal" title="Düzenle" data-target="#genericModal" data-toggle="modal">
			                                                        <i class="fa fa-edit"> &nbsp; Düzenle</i>
			                                               </a>
									                       <a href="#" class="btn btn-info btn-sm" id="btnMoveUserModal" title="Taşı" data-target="#genericModal" data-toggle="modal">
		                                                        <i class="fa fa-blind"> &nbsp; Taşı</i>
		                                                   </a>
									                       <a href="#" class="btn btn-info btn-sm" id="btnChangePasswordUserModal" title="Parola Düzenle" data-target="#genericModal" data-toggle="modal">
		                                                        <i class="fas fa-user-lock"> &nbsp; Parola</i>
		                                                   </a>
									                       <a href="#" class="btn btn-danger btn-sm" id="btnDeleteUserModal" title="Sil" data-target="#genericModal" data-toggle="modal">
		                                                        <i class="fa fa-minus-circle"> &nbsp; Sil</i>
		                                                    </a>
									                    </div>
									                    <div class="col-md-8 col-sm-8 ">
									                    
									                     <div class="x_panel tile ">
															                <div class="x_title">
															                  <h2>Login Geçmişi</h2>
															                  <ul class="nav navbar-right panel_toolbox">
															                    <li><a class="collapse-link" id="loginCollapseLink"><i class="fa fa-chevron-up"></i></a>
															                    </li>
															                    <li class="dropdown">
															                      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
															                    </li>
															                    <li><a class="close-link"><i class="fa fa-close"></i></a>
															                    </li>
															                  </ul>
															                  <div class="clearfix"></div>
															                </div>
															                <div class="x_content">
															                  <div id="sessionListDiv"></div>
															              </div>
														  </div>
									                    
									                     <div class="x_panel tile ">
															                <div class="x_title">
															                  <h2>Grup Listesi</h2>
															                  <ul class="nav navbar-right panel_toolbox">
															                    <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
															                    </li>
															                    <li class="dropdown">
															                      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
															                    </li>
															                    <li><a class="close-link"><i class="fa fa-close"></i></a>
															                    </li>
															                  </ul>
															                  <div class="clearfix"></div>
															                </div>
															                <div class="x_content">
															               			<div id="groupsDiv">Kullanıcı herhangi bir gruba üye değildir.</div>
															              </div>
														  </div>
									                     <div class="x_panel tile ">
															                <div class="x_title">
															                  <h2>Parola Politikası</h2>
															                  <ul class="nav navbar-right panel_toolbox">
															                    <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
															                    </li>
															                    <li class="dropdown">
															                      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
															                    </li>
															                    <li><a class="close-link"><i class="fa fa-close"></i></a>
															                    </li>
															                  </ul>
															                  <div class="clearfix"></div>
															                </div>
															                <div class="x_content">
															                <button id="btnSetPasswordPolicyModal" type="button" data-target="#genericModal" data-toggle="modal" title="Politika Ata" class="btn-shadow btn btn-link">Politika Ata</button>
															                 	<span id="userPasswordPolicy"></span>
																				<div id="userPolicyDetails"></div>
															              </div>
														  </div>
									                     <div class="x_panel tile ">
															                <div class="x_title">
															                  <h2>Yetki Grupları</h2>
															                  <ul class="nav navbar-right panel_toolbox">
															                    <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
															                    </li>
															                    <li class="dropdown">
															                      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
															                    </li>
															                    <li><a class="close-link"><i class="fa fa-close"></i></a>
															                    </li>
															                  </ul>
															                  <div class="clearfix"></div>
															                </div>
															                <div class="x_content">
															                <div id="rolesDiv">Kullanıcının istemci yönetim yetki grubu bulunmamaktadir.</div>
															              </div>
														  </div>
									                    	
									                     <div class="x_panel tile ">
															                <div class="x_title">
															                  <h2>Politika Geçmişi</h2>
															                  <ul class="nav navbar-right panel_toolbox">
															                    <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
															                    </li>
															                    <li class="dropdown">
															                      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
															                    </li>
															                    <li><a class="close-link"><i class="fa fa-close"></i></a>
															                    </li>
															                  </ul>
															                  <div class="clearfix"></div>
															                </div>
															                <div class="x_content">
															                  <div id="policyHistoryDiv"></div>
															              </div>
														  </div>
									                    </div>
									                  </div>
                							</div>
												
											</div>	
										</div>
									</div>
	</div>
