
.log {
	width: 200px;
	word-wrap: break-word;
	margin-left: 6px;
}

table {
  font-size: 12px;
}

#exTab1 .tab-content {
  color : white;
  background-color: #428bca;
  padding : 5px 15px;
}

#exTab2 h3 {
  color : white;
  background-color: #428bca;
  padding : 5px 15px;
}

/* remove border radius for the tab */

#exTab1 .nav-pills > li > a {
  border-radius: 0;
}

/* change border radius for the tab , apply corners on top*/

#exTab3 .nav-pills > li > a {
  border-radius: 4px 4px 0 0 ;
}

#exTab3 .tab-content {
  color : white;
  background-color: #428bca;
  padding : 5px 15px;
}


#logger {
    position: fixed;
    bottom: 10px;
    left:1px; 
    width: 200px; 
    height: 300px; 
    background-color: white;
    overflow-y:auto;
    font-size: 10px;
}