<!-- this modal is for selecting an entry to add olc access rule for selected entry -->
<label id="olcAccessInfoAlert">Seçilen kullanıcı grubunun tüm
	üyeleri seçeceğiniz klasör ve bu klasörün altındaki tüm klasör ve
	kayıtlara erişim sağlayacaktır.</label>
<div class="row">
	<div class="col-12" id="olcTreeDiv">
		<div id="olcTreeGrid"></div>
	</div>
	<div class="col-12">
		<div class="form-check mt-3">
			<input class="form-check-input" type="radio" name="accessType"
				id="read" value="read" checked> <label
				class="form-check-label" for="read"> Seçili klasör ve alt klasörlerini sadece <b>okuma</b> yetkisi ver
			</label>
		</div>
		<div class="form-check">
			<input class="form-check-input" type="radio" name="accessType"
				id="readAndWrite" value="write"> <label
				class="form-check-label" for="readAndWrite"> Seçili klasör ve alt klasörlerini <b>okuma</b> ve <b>yazma</b> yetkisi ver </label>
		</div>
	</div>
	<div class="col-12">
		<div class="form-group float-right  mt-3 mr-2" id="newGroupInput">
			<button type="button" class="btn btn-primary p-2" onclick="btnSaveOLCRuleClicked()">Erişim
				Yetkisini Kaydet</button>
		</div>
	</div>
</div>
