<!-- Start Add Users To Existing User Group -->
<div class="row">
    <div class="col-12" id="selectConsoleUserTreeDiv">
	    <div id="selectConsoleUserTreeGrid"></div>
    </div>
    <div class="col-12">
		<div>Lütfen yetki vermek için bir kullanıcı seçiniz.</div>
		<div><b id="alreadyConsoleUser"></b></div>
    </div>
    <div class="col-12">
		<div class="form-group float-right  mt-3 mr-0" id="newGroupInput">
			<button type="button" class="btn btn-primary p-2" id="btnGiveConsoleAccessToSelectedUser" 
				onclick="btnGiveConsoleAccessToSelectedUserClicked()" disabled>Kullanıcıya Konsol Kullanma Yetkisi Ver</button>
		</div>
    </div>
</div>
<!-- End Add Users To Existing User Group -->