<!-- Start Add Users To Existing User Group or Create New User -->
<ul class="nav nav-tabs" id="tabs">
	<li class="nav-item"><a data-toggle="tab" href="#tab-newUser"
		class="active nav-link newConsoleUserTab"> <i class="fa fa-user"></i> Yeni Arayüz Kullanıcısı Oluştur</a></li>
	<li class="nav-item"><a data-toggle="tab" href="#tab-existUser"
		class="nav-link existConsoleUserTab"> <i class="fa fa-users"></i> Mevcut Kullanıcılara Erişim Yetkisi Ver</a></li>
		
	<li class="nav-item"><a data-toggle="tab" href="#tab-accessDirectory"
		class=" nav-link accessDirectoryTab"> <i class="fa fa-list-ul"></i> Dizin Erişim Yetkisi Ver</a></li>

</ul>

<div class="tab-content">
	<div class="tab-pane active" id="tab-newUser" role="tabpanel">
				 <div class="col-lg-6">
					 			<div class="item form-group">
			                        <label class="col-form-label col-md-3 col-sm-3 label-align" for="uid">Kimlik (ID) <span class="required">*</span>
			                        </label>
			                        <div class="col-md-6 col-sm-6 ">
			                          <input class="form-control" type="text" id="uid" name="uid"  />
			                        </div>
			                      </div>
			                      <div class="item form-group">
			                        <label class="col-form-label col-md-3 col-sm-3 label-align" for="cn">Kullanıcı Adı <span class="required">*</span>
			                        </label>
			                        <div class="col-md-6 col-sm-6 ">
			                          <input class="form-control" type="text"	id="cn" name="cn"  />
			                        </div>
			                      </div>
			                      <div class="item form-group">
			                        <label class="col-form-label col-md-3 col-sm-3 label-align" for="last-name">Kullanıcı Soyadı <span class="required">*</span>
			                        </label>
			                        <div class="col-md-6 col-sm-6 ">
			                          <input class="form-control" type="text" id="sn" name="sn" />
			                        </div>
			                      </div>
			                      <div class="item form-group">
			                        <label class="col-form-label col-md-3 col-sm-3 label-align" for="mail">Mail Adresi <span class="required">*</span>
			                        </label>
			                        <div class="col-md-6 col-sm-6 ">
			                          <input class="form-control" type="text" id="mail" name="mail"  />
			                        </div>
			                      </div>
			                      <div class="item form-group">
			                        <label class="col-form-label col-md-3 col-sm-3 label-align" for="telephoneNumber">Telefon <span class="required">*</span>
			                        </label>
			                        <div class="col-md-6 col-sm-6 ">
<!-- 			                          <input class="form-control" type="text"	id="telephoneNumber" name="telephoneNumber" 	 /> -->
			                          <input class="form-control" type="text" name="telephoneNumber" id="telephoneNumber"  
			                          required="required" title="e.g (123) 456-7890" pattern="^\([0-9]{3}\)\s[0-9]{3}-[0-9]{4}$">
			                        </div>
			                      </div>
			                      <div class="item form-group">
			                        <label class="col-form-label col-md-3 col-sm-3 label-align" for="homePostalAddress">Adres <span class="required"></span>
			                        </label>
			                        <div class="col-md-6 col-sm-6 ">
			                         <textarea class="form-control" id="homePostalAddress" name="homePostalAddress"  rows="4"		cols="4"></textarea>
			                        </div>
			                      </div>
			   </div>    
			   
			   <div class="col-lg-6">
							 <div class="item form-group">
			                        <label class="col-form-label col-md-3 col-sm-3 label-align" for="userPassword">Parola <span class="required">*</span>
			                        </label>
			                        <div class="col-md-6 col-sm-6 ">
			                         <input class="form-control" type="password" id="userPassword" name="userPassword"	/>
			                        </div>
			                 </div>
							 <div class="item form-group">
			                        <label class="col-form-label col-md-3 col-sm-3 label-align" for="confirm_password">Parola Onayla <span class="required">*</span>
			                        </label>
			                        <div class="col-md-6 col-sm-6 ">
			                         <input class="form-control" type="password" id="confirm_password" name="confirm_password"	 />
			                        </div>
			                 </div>
							 <div class="item form-group">
			                        <div class="col-md-3 col-sm-3 "></div>
			                        <div class="col-md-6 col-sm-6 ">
			                         <span class="text-secondary">Şifre en az 6 karakter olmalıdır. En az bir büyük harf, küçük harf ve sayı içermelidir.</span>
			                        </div>
			                 </div>
			                 
			 	</div>
				<div class="col-lg-12">
						<div class="form-group pull-right">
								<a href="#" class="btn btn-primary submit-button" id="addConsoleUserBtn" onclick="btnGiveConsoleAccessToNewUserClicked()">
									<span>Yeni Arayüz Kullanıcısı Ekle</span>
								</a>
						</div>
				</div>
	</div>
	
	<div class="tab-pane " id="tab-existUser" role="tabpanel">
			<div class="col-8" id="existUserDiv">
				<div class="col-lg-12 pull-right">
							<button type="button" class="btn btn-sm btn-danger pull-right"	id="btnDeleteConsoleUserClicked"
							onclick="btnDeleteConsoleUserClicked()" title="Arayüz Kullanıcısı Sil"><i class="fa fa-trash"></i> </button>
					</div>
					
				<div class="col-lg-12 pull-right">
					</div>
				<div id="selectConsoleUserTreeDiv">
<!-- 					<div id="selectConsoleUserTreeGrid"></div> -->
				</div>
				<div class="col-12">
					<div>
						<b id="alreadyConsoleUser"></b>
					</div>
				</div>
				<div class="col-lg-12">
					<div class="col-lg-12">
							<button type="button" class="btn btn-sm btn-primary pull-right"	id="btnGiveConsoleAccessToSelectedUser"
							onclick="btnGiveConsoleAccessToSelectedUserClicked()" disabled>Kullanıcıya	Arayüz Kullanma Yetkisi Ver</button>
					</div>
				</div>
			</div>
	</div>
	
	<div class="tab-pane " id="tab-accessDirectory" role="tabpanel">
				<div class="col-md-12">
					<div class="form-row">
						<div class="col-lg-12">
							<div class="col-lg-6 col-md-6"><label id="labelSelectOneUserGroupAlertForConsoleUser"></label></div>
							<div class="col-lg-6 col-md-6"> 
								<button type="button" class="btn btn-sm btn-primary pull-right"	id="btnAddToGroupSelectedUser">Gruba Ekle</button>
							</div>
							
						</div>
						<div id="contentForNewConsoleUser">
							<div class="col-md-3">
								<div id="treeGridUserGroupsDivForNewConsoleUser" class="pr-4 pt-2">
								</div>
							</div>
	
							<div class="col-md-9">
								<div class="row">
									<div class="col-4 group-member-div" id="groupMembersDivForNewConsoleUser">
										<table class="mb-0 table table-bordered">
											<thead>
												<tr>
													<th style="width: 15%" class="text-center">#</th>
													<th style="width: 85%">Üye DN</th>
												</tr>
											</thead>
											<tbody id="bodyMembersForNewConsoleUser">
												<tr>
													<td colspan="100%" class="text-center">Üye bulunamadı</td>
												</tr>
											</tbody>
										</table>
									</div>
									<div class="col-8" id="olcRulesTableDivForNewConsoleUser">
										<table class="table table-bordered table-hover">
											<thead>
												<tr>
													<th style="width: 8%">#</th>
													<th style="width: 72%">Erişim Yetkisi Verilen DN</th>
													<th style="width: 20%" class="text-center">Yetki</th>
												</tr>
											</thead>
											<tbody id="olcRulesTableForNewConsoleUser">
												<tr>
													<td colspan="100%" class="text-center p-3">Sonuç
														Bulunamadı</td>
												</tr>
											</tbody>
										</table>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>	
	</div>
</div>
<!-- End Add Users To Existing User Group -->

