<div>
	<div class="card-header-title"><span>Yeni İstemci Grubu Adı</span></div>
	<input class="form-control block" type="text" id="newAgentGroupName" 
		name="newAgentGroupName" placeholder="Yeni grup adı giriniz..." />
</div><br>
<div>
	<label>Grubu hangi klasörün altında oluşturmak istediğinizi seçiniz.</label>
</div>
<div id="newTreeGridDiv">
	<div id="newTreeGrid"></div>
</div>
<div class="form-group float-right  mt-3" id="addToNewGroupButtonDiv">
	<button type="button" class="btn btn-primary p-2" id="btnAddToNewGroup" 
		onclick="btnAddToNewGroupClicked()">İstemcileri Gruba Ekle</button>
</div>